settings.py
AuditSQL/settings.py
AuditSQL/__pycache__/settings.cpython-36.pyc
AuditSQL/settings.py
logs/*.log
.idea/workspace.xml
*.pyc
*pycache__
*.pyc
apps/project_manager/inception/__pycache__/inception_api.cpython-36.pyc
AuditSQL/media/files
*.zip
apps/project_manager/tests.py
*.jpg
