{% extends 'base.html' %}
{% load staticfiles %}

{% block right_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header box-border">
                    <div class="mailbox-read-info">
                        <h3 class="box-title"><span class="fa fa-cog"></span> 查看数据字典
                        </h3>
                    </div>
                </div>
                <div class="box-body">
                    <form class="form-horizontal" id="DbDictQueryForm" action="{% url 'p_dbdict' %}"
                          method="post">
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label col-sm-2">环境</label>
                                <div class="col-sm-10">
                                    <select id="s_envi" name="envi_id" style="width: 100%" required
                                            class="form-control selectpicker" title="选择环境..."
                                            onchange="getTargetSchema()">
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label col-sm-2">库名</label>
                                <div class="col-sm-10">
                                    <select id="s_schema" name="database" required
                                            class="form-control selectpicker" title="选择库名..." data-size='8'
                                            data-live-search="true">
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label col-sm-2"></label>
                                <div class="col-sm-10 pull-left">
                                    <button type="submit" class="btn bg-info btn-sm">查询</button>
                                </div>
                            </div>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
            <div class="box" id="typediv1" style="visibility: hidden">
                <div class="box-header box-border">
                    <div class="mailbox-read-info">
                        <h3 class="box-title"><span class="fa fa-file-code-o"></span>
                        </h3>
                        <button id="generate_pdf">点击生成单个HTML文件（在新页面保存即可）</button>
                    </div>
                </div>

                <div class="box-body" id="pdf_content">
                    <div style="text-align: center;line-height: 60px;" id="xtop">
                        <span style="font-size: 24px;font-weight: bold" id="dbtitle">
                        </span>
                    </div>
                    <div>
                        <h3>一、表名索引</h3>
                        <div style="margin-top: 10px;" id="href_table">
                        </div>
                    </div>
                    <div>
                        <h3>二、表结构详情</h3>
                        <div id="html_table"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block link_javascripts %}
    <script>
        let curDate = new Date();
        let dbtime = curDate.toLocaleDateString().split('/').join('-');

        function repeatStringNumTimes(string, times) {
            return times > 0 ? string.repeat(times) : "";
        }

        // 获取用户设置的环境
        $(function () {
            $.ajax({
                url: '{% url 'p_get_sql_orders_envi' %}',
                type: 'GET',
                dataType: 'json',
                timeout: 10000,
                cache: false,
                success: function (data) {
                    $("#s_envi").empty();
                    $.each(data, function (index, row) {
                        $("#s_envi").append(
                            "<option data-icon='glyphicon-record' value=" + row.envi_id + ">" + row.envi_name + "</option>"
                        );
                    });
                    $('.selectpicker').selectpicker('refresh')
                }
            });
        });


        /**
         * 获取指定环境的schema
         */
        function getTargetSchema() {
            let s_schema = $('#s_schema');
            let envi_id = $('#s_envi').val();
            let csrftoken = $.cookie('csrftoken');
            $.ajax({
                url: '{% url 'p_get_target_schemas' %}',
                type: 'POST',
                dataType: 'json',
                data: {'envi_id': envi_id, 'purpose': 'dbdict', 'csrfmiddlewaretoken': csrftoken},
                timeout: 5000,
                cache: false,
                success: function (data) {
                    s_schema.empty();
                    let html = '';
                    $.each(data, function (index, row) {
                        let result = [row.host, row.port, row.schema].join(',');
                        let show_result = [row.comment, row.port, row.schema].join('_');
                        html += "<option data-icon='fa fa-database' value=" + result + ">" + show_result + "</option>"
                    });
                    s_schema.append(html);
                    $('.selectpicker').selectpicker('refresh')
                }
            })
        }

        /**
         * 查询
         */
        $('#DbDictQueryForm').on('submit', function (e) {
            $(this).ajaxSubmit({
                dataType: 'json',
                beforeSubmit: showLoadingScreen($('body'), '数据处理中，请稍后...'),
                success: function (result) {
                    hideLoadingScreen($('body'));
                    if (result.status === 0) {
                        document.getElementById('typediv1').style.visibility = "visible";
                        let db = $('#s_schema').val().split(',')[2];
                        let dbtitle = $('#dbtitle');
                        dbtitle.empty();
                        dbtitle.append("数据库: " + db + " 数据字典文档[" + dbtime + "]");

                        let data = result.data;
                        let html_table = $('#html_table');
                        let href_table = $('#href_table');
                        href_table.empty();
                        html_table.empty();
                        let html_t = '';
                        let href_t = '';
                        let num = 0;
                        data.forEach(function (row) {
                            num += 1;
                            let table_name = row[0];
                            let table_comment = row[1];
                            let create_time = row[2];
                            let table_value = row[3].split('<a>');
                            let index_value = row[4].split('<a>');
                            href_t += "<div style=\"margin-top: 10px;padding-left: 20px;\">\n" +
                                "<a href='#" + table_name + "'>" + num + '、' + table_name + ' ' + repeatStringNumTimes('.', 50) + ' ' + table_comment + "</a><br>\n" +
                                "</div>";
                            let row_html = "<div style=\"height: auto;overflow: scroll;border:1px solid #ccc;padding:10px;margin:10px\">";
                            row_html += "<a style='color: black;font-size:16px;font-weight: bold' name='" + table_name + "'>" + num + "、表名:&nbsp;" + table_name + "&nbsp;&nbsp;备注:&nbsp;"
                                + table_comment + "&nbsp;&nbsp;创建时间:&nbsp;" + create_time + "</a><a href='#xtop'> 返回顶部</a>";
                            let table_tr_html = '', index_tr_html = '';
                            let table_row_num = 0, index_row_num = 0;
                            table_value.forEach(function (i) {
                                let tmp_data = i.split('<b>');
                                table_tr_html += "<tr>";
                                table_row_num += 1;
                                table_tr_html += "<td>" + table_row_num + "</td>";
                                tmp_data.forEach(function (j) {
                                    table_tr_html += "<td>" + j + "</td>"
                                });
                                table_tr_html += "</tr>"
                            });

                            index_value.forEach(function (i) {
                                let tmp_data = i.split('<b>');
                                index_tr_html += "<tr>";
                                index_row_num += 1;
                                index_tr_html += "<td>" + index_row_num + "</td>";
                                tmp_data.forEach(function (j) {
                                    index_tr_html += "<td>" + j + "</td>"
                                });
                                index_tr_html += "</tr>"
                            });

                            row_html += "<table class=\"table table-bordered\" style='margin-top: 20px;padding-top: 5px;margin-bottom: 5px;'>\n" +
                                "                        <thead>\n" +
                                "                        <tr style='background: #e4dede;'>\n" +
                                "                            <th>序列</th>\n" +
                                "                            <th>列名</th>\n" +
                                "                            <th>数据类型</th>\n" +
                                "                            <th>可空</th>\n" +
                                "                            <th>默认值</th>\n" +
                                "                            <th>字符集</th>\n" +
                                "                            <th>校对规则</th>\n" +
                                "                            <th>备注</th>\n" +
                                "                        </tr>\n" +
                                "                        </thead>\n" +
                                "                        <tbody>\n" + table_tr_html +
                                "                        </tbody>\n" +
                                "                    </table>";

                            row_html += "<table class=\"table table-bordered\" style='margin-top: 20px;padding-top: 5px'>\n" +
                                "                        <thead>\n" +
                                "                        <tr style='background: #e4dede;'>\n" +
                                "                            <th>序列</th>\n" +
                                "                            <th>索引名</th>\n" +
                                "                            <th>唯一</th>\n" +
                                "                            <th>基数</th>\n" +
                                "                            <th>类型</th>\n" +
                                "                            <th>包含字段</th>\n" +
                                "                        </tr>\n" +
                                "                        </thead>\n" +
                                "                        <tbody>\n" + index_tr_html +
                                "                        </tbody>\n" +
                                "                    </table>";
                            row_html += "</div>";
                            html_t += row_html;
                        });
                        html_table.append(html_t);
                        href_table.append(href_t);
                    } else if (result.status === 2) {
                        displayPNotify(result.status, result.msg)
                    }
                },
                error: function (jqXHR) {
                    if (jqXHR.status === 403) {
                        displayPNotify(jqXHR.status)
                    }
                }
            });
            return false;
        });

        $('#generate_pdf').click(function () {
            let csrftoken = $.cookie('csrftoken');
            let data = $('#pdf_content').html();
            $.ajax({
                url: '{% url 'p_generate_html' %}',
                type: 'POST',
                dataType: 'json',
                data: {'data': data, 'csrfmiddlewaretoken': csrftoken},
                beforeSubmit: showLoadingScreen($('body'), '数据处理中，请稍后...'),
                timeout: 600000,
                cache: false,
                success: function (result) {
                    hideLoadingScreen($('body'));
                    if (result.status === 0) {
                        window.location.href = result.jump_url
                    }
                }
            })
        })
    </script>
{% endblock %}
