<html>
<head>
    <meta charset="utf-8">
    <style>
        body {
            font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 13px;
            line-height: 1.42857143;
            color: #333;
            background-color: #fff;
        }
    </style>
</head>
<body>
{% if type == 'close' %}
    {% if data.progress == '5' %}
        <p>您好，{{ user_role }}({{ username }})关闭了该记录。</p>
        {% if data.close_reason %}
            <p>#附加信息:</p>
            <p>{{ data.close_reason|safe }}</p>
            <p>== END ==</p>
        {% endif %}
    {% endif %}
{% endif %}

{% if type == 'approve' %}
    {% if data.progress == '2' %}
        <p>您好，{{ user_role }}({{ username }})已批准，请({{ data.operator }})处理。</p>
        {% if addition_info %}
            <p>#附加信息:</p>
            <p>{{ addition_info|safe }}</p>
            <p>== END ==</p>
        {% endif %}
    {% elif data.progress == '1' %}
        <p>您好，{{ user_role }}({{ username }})审核未通过。</p>
        {% if addition_info %}
            <p>#附加信息:</p>
            <p>{{ addition_info|safe }}</p>
            <p>== END ==</p>
        {% endif %}
    {% endif %}
{% endif %}

{% if type == 'feedback' %}
    {% if data.progress == '4' %}
        <p>您好，{{ user_role }}({{ username }})已处理，请{{ data.proposer }}核对数据，谢谢。</p>
        {% if addition_info %}
            <p>#附加信息:</p>
            <p>{{ addition_info|safe }}</p>
            <p>== END ==</p>
        {% endif %}
    {% elif data.progress == '3' %}
        <p>您好，{{ user_role }}({{ username }})正在处理中，请稍等，谢谢。</p>
        {% if addition_info %}
            <p>#附加信息:</p>
            <p>{{ addition_info|safe }}</p>
            <p>== END ==</p>
        {% endif %}
    {% endif %}
{% endif %}
</body>
</html>