{% extends 'base.html' %}
{% load staticfiles %}

{% block right_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <div class="mailbox-read-info">
                        <h5 class="box-title"><i class="fa fa-cog"></i> 数据库备份定时任务
                        </h5>
                        <!-- 隐藏id，下面ajax调用 -->
                        <h5 id="s_id" style="display: none">{{ id }}</h5>
                    </div>
                </div>
                <div class="box-body">
                    <table id="table"></table>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </div>
{% endblock %}

{% block link_javascripts %}
    <script>
        /**
         * 初始化bootstrap-table，生成表格
         */
        var $table = $('#table');
        $(function () {
            var id = $('#s_id').text();
            $table.bootstrapTable({
                method: 'get',
                dataType: 'json',
                url: "{% url 'p_backup_task_preview_list' %}",
                search: true,
                cache: false,
                showColumns: true,
                showRefresh: true,
                clickToSelect: true,
                pageNumber: 1,
                pageSize: 20,
                locale: 'zh-CN',
                pagination: true,
                pageList: [10, 20, 30],
                sidePagination: "client",
                uniqueId: 'id',
                queryParams: function (params) {
                    return {'id': id}
                },
                classes:
                    'table table-hover table-no-bordered',

                formatLoadingMessage:
                    function () {
                        return "请稍等，正在加载中...";
                    },
                formatNoMatches: function () {
                    return '没有查询到记录...';
                }
                ,
                columns: [
                    {
                        checkbox: true
                    },
                    {
                        field: 'dir',
                        title: '文件'
                    },
                    {
                        field: 'size',
                        title: '大小'
                    }
                ],
                // 编辑保存，上面的editable统一调用此方法
                onEditableSave:

                    function (field, row, oldValue, $el) {
                        var csrftoken = $.cookie('csrftoken');
                        var data = {'csrfmiddlewaretoken': csrftoken};

                        // 标记被修改的字段，后台根据指定字段进行数据修改
                        data.action = 'edit_periodic';
                        data.id = row.id;
                        data.name = row.name;
                        data.receiver = row.receiver;

                        $.ajax({
                            type: "post",
                            url: "{% url 'p_modify_periodic_task' %}",
                            data: data,
                            dataType: 'JSON',
                            success: function (data) {
                                displayPNotify(data.status, data.msg)
                            },
                            error: function (jqXHR) {
                                if (jqXHR.status === 403) {
                                    displayPNotify(jqXHR.status)
                                }
                            }
                        });
                    }
            })
        });
    </script>
{% endblock %}