{% extends 'base.html' %}
{% load staticfiles %}

{% block link_css %}
    <style>
        .CodeMirror {
            border: 1px solid #eee;
            height: 300px;
        }
    </style>
{% endblock %}

{% block right_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <div class="mailbox-read-info">
                        <h5 class="box-title"><i class="fa fa-cog"></i> 数据库备份定时任务
                        </h5>
                    </div>
                </div>
                <div class="box-body">
                    <div id="toolbar">
                        <div class="form-inline" role="form">
                            <button type="button" data-toggle="modal" data-target="#modal_new_periodic"
                                    class="btn btn-primary" onclick="init_data()"><i class="fa fa-plus"></i> 新建任务
                            </button>
                            <button type="button" onclick="delete_selected()" class="btn btn-primary"><i
                                    class="fa fa-minus"></i> 删除任务
                            </button>
                        </div>
                    </div>
                    <table id="table"></table>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_new_periodic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form class="form-horizontal" id="periodicForm" method="post"
                      action="{% url 'p_backup_task' %}">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title"><i class="fa fa-pencil"></i> 新建备份任务
                        </h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12">任务描述</label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input type="text" maxlength="32" class="form-control"
                                       placeholder="任务描述内容, 最大32个字符"
                                       name="name">
                            </div>

                            <label class="control-label col-md-2 col-sm-2 col-xs-12">备份方式</label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <select name="backup_method" id="s_method" onchange="changeMethodStatus()"
                                        title="选择备份方式..."
                                        style="width: 100%" class="selectpicker form-control dropup"
                                        multiple required>
                                    <option value="mysqldump">mysqldump</option>
                                    <option value="xtrabackup">xtrabackup</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12">备份目录</label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input type="text" maxlength="32" class="form-control"
                                       placeholder="备份目录, 如：/backup"
                                       name="backup_dir">
                            </div>

                            <label class="control-label col-md-2 col-sm-2 col-xs-12">crontab</label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <select id="s_crontab" name="crontab" style="width: 100%" required
                                        class="form-control selectpicker" title="选择crontab...">
                                </select>
                            </div>
                        </div>

                        <hr>

                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12">SSH主机</label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input type="text" class="form-control" placeholder="ssh主机" name="ssh_host">
                            </div>

                            <label class="control-label col-md-2 col-sm-2 col-xs-12">SSH端口</label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <input type="text" class="form-control" value="22" placeholder="ssh端口"
                                       name="ssh_port">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12">SSH用户</label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input type="text" class="form-control" placeholder="ssh用户" name="ssh_user">
                            </div>

                            <label class="control-label col-md-2 col-sm-2 col-xs-12">SSH密码</label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <input type="password" class="form-control" placeholder="ssh密码"
                                       name="ssh_password">
                            </div>
                        </div>

                        <hr>

                        <div class="form-group">
                            <div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1">
                                    <textarea id="s_backup_args" class="form-control"
                                              name="backup_args"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">提交</button>
                    </div>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>


    <div class="modal fade" id="show_backup_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><i class="fa fa-pencil"></i> 备份参数
                    </h4>
                </div>

                <div class="modal-body">
                    <h5><strong>ssh主机：</strong></h5>
                    <p id="s_ssh_host"></p>
                    <h5><strong>ssh端口：</strong></h5>
                    <p id="s_ssh_port"></p>
                    <h5><strong>ssh用户：</strong></h5>
                    <p id="s_ssh_user"></p>
                    <br>
                    <h5><strong>备份命令：</strong></h5>
                    <p id="s_backup_cmd"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block link_javascripts %}
    <script>
        var myTextarea = document.getElementById('s_backup_args');
        var myCodeMirror = CodeMirror.fromTextArea(myTextarea, {
            mode: "text/x-mysql",
            lineNumbers: true,
            autofocus: true,
            autoRefresh: true,
            matchBrackets: true,
            tabMode: "indent"
        });

        /**
         * 初始化bootstrap-table，生成表格
         */
        var $table = $('#table');
        $(function () {
            $table.bootstrapTable({
                method: 'get',
                dataType: 'json',
                url: "{% url 'p_backup_task' %}",
                search: true,
                cache: false,
                showColumns: true,
                showRefresh: true,
                clickToSelect: true,
                pageNumber: 1,
                pageSize: 6,
                locale: 'zh-CN',
                pageList: [10, 20, 30],
                toolbar: '#toolbar',
                sidePagination: "client",
                uniqueId: 'id',
                classes: 'table table-hover table-no-bordered',

                formatLoadingMessage: function () {
                    return "请稍等，正在加载中...";
                },
                formatNoMatches: function () {
                    return '没有查询到记录...';
                },
                columns: [
                    {
                        checkbox: true
                    },
                    {
                        field: 'enabled',
                        title: '状态',
                        formatter: function (value, row) {
                            if (value === true) {
                                return "<a href='#' onclick=changestatus(" + row.id + ",'0')><i class='fa fa-check-square' style='color:green'></i></a>"
                            }
                            else {
                                return "<a href='#' onclick=changestatus(" + row.id + ",'1')><i class='fa fa-times-circle' style='color:red'></i></a>"
                            }
                        }
                    },
                    {
                        field: 'name',
                        title: '任务描述',
                        editable: {
                            type: 'text',
                            title: '任务名',
                            validate: function (v) {
                                if (v === 'celery.backend_cleanup') {
                                    return '系统任务，不能编辑'
                                }
                                else if (!v) {
                                    return '输入不能为空';
                                }
                            }
                        }
                    },
                    {
                        field: 'ssh_host',
                        title: '主机'
                    },
                    {
                        field: 'crontab_value',
                        title: '执行时间'
                    },
                    {
                        field: 'id',
                        title: '脚本参数',
                        formatter: function (value) {
                            return "<button class=\"btn btn-xs btn-info\" " +
                                "data-toggle=\"modal\" data-target=\"#show_backup_modal\" " +
                                "data-whatever_id=" + value + " " +
                                '>备份参数</button>'
                        }
                    },
                    {
                        field: 'id',
                        title: '备份详情',
                        formatter: function (value) {
                            return "<button class=\"btn btn-xs btn-default\"><a href='backup_task_preview/" + value + "'>备份详情</a></button>"
                        }
                    }
                ],
                // 编辑保存，上面的editable统一调用此方法
                onEditableSave: function (field, row, oldValue, $el) {
                    var csrftoken = $.cookie('csrftoken');
                    var data = {'csrfmiddlewaretoken': csrftoken};

                    // 标记被修改的字段，后台根据指定字段进行数据修改
                    data.action = 'edit_periodic';
                    data.id = row.id;
                    data.name = row.name;
                    data.receiver = row.receiver;

                    $.ajax({
                        type: "post",
                        url: "{% url 'p_modify_periodic_task' %}",
                        data: data,
                        dataType: 'JSON',
                        success: function (data) {
                            displayPNotify(data.status, data.msg)
                        },
                        error: function (jqXHR) {
                            if (jqXHR.status === 403) {
                                displayPNotify(jqXHR.status)
                            }
                        }
                    });
                }
            })
        });

        // 新建任务
        $('#periodicForm').submit(function () {
            displayPNotify(1, '正在处理, 请稍后');
            $(this).ajaxSubmit({
                dataType: 'json',
                success: function (result) {
                    if (result.status === 0) {
                        displayPNotify(result.status, result.msg);
                        $('#modal_new_periodic').modal('hide');
                        $('#periodicForm').resetForm();
                        $table.bootstrapTable('refresh', {silent: true});
                    } else {
                        displayPNotify(result.status, result.msg);
                    }
                },
                error: function (jqXHR) {
                    if (jqXHR.status === 403) {
                        $('#modal_new_periodic').modal('hide');
                        displayPNotify(jqXHR.status)
                    }
                }
            });
            return false
        });

        // 删除选择的数据
        function delete_selected() {
            var selectedContent = $table.bootstrapTable('getAllSelections');
            var id = [];
            selectedContent.forEach(function (val) {
                id.push(val['id'])
            });
            console.log(id);
            if (id.length === 0) {
                displayPNotify(2, '请至少勾选一行数据');
                return false;
            } else {
                var csrftoken = $.cookie('csrftoken');
                $.ajax({
                    url: '{% url 'p_delete_periodic_task' %}',
                    type: 'POST',
                    dataType: 'json',
                    timeout: 1000,
                    data: {
                        'action': 'delete_crontab',
                        'id': id.toString(),
                        'csrfmiddlewaretoken': csrftoken
                    },
                    cache: false,
                    success: function (result) {
                        displayPNotify(result.status, result.msg);
                        $table.bootstrapTable('refresh', {silent: true});
                    },
                    error: function (jqXHR) {
                        if (jqXHR.status === 403) {
                            displayPNotify(jqXHR.status)
                        }
                    }
                })
            }
        }

        function init_data() {
            $('#s_crontab').empty();

            // 获取crontab列表
            $.ajax({
                url: '{% url 'p_get_crontab' %}',
                type: 'GET',
                dataType: 'json',
                timeout: 5000,
                cache: false,
                success: function (data) {
                    var html = '';
                    $.each(data, function (index, row) {
                        html += "<option value=" + row.id + ">" + row.crontab_value + "</option>"
                    });
                    $('#s_crontab').append(html);
                    $('.selectpicker').selectpicker('refresh', {silent: true})
                }
            })
        }

        // 修改状态
        function changestatus(id, status) {
            var csrftoken = $.cookie('csrftoken');
            $.ajax({
                url: '{% url 'p_modify_periodic_task' %}',
                type: 'POST',
                dataType: 'json',
                data: {'action': 'modify_status', 'id': id, 'status': status, 'csrfmiddlewaretoken': csrftoken},
                timeout: 5000,
                cache: false,
                success: function (result) {
                    displayPNotify(result.status, result.msg);
                    $table.bootstrapTable('refresh', {silent: true});
                },
                error: function (jqXHR) {
                    if (jqXHR.status === 403) {
                        displayPNotify(jqXHR.status)
                    }
                }
            })
        }

        $('#show_backup_modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            // 获取值
            var id = button.data('whatever_id');

            $('#s_ssh_host').empty();
            $('#s_ssh_port').empty();
            $('#s_ssh_user').empty();
            $('#s_ssh_password').empty();
            $('#s_backup_cmd').empty();

            $.ajax({
                url: '{% url 'p_backup_task_detail' %}',
                type: 'GET',
                data: {'id': id},
                dataType: 'json',
                timeout: 5000,
                cache: false,
                success: function (data) {
                    var json_data = JSON.parse(data);
                    var xtrabackup_cmd = json_data.backup_cmd.xtrabackup_cmd;
                    var mysqldump_cmd = json_data.backup_cmd.mysqldump_full_cmd;
                    var backup_cmd = '';
                    console.log(xtrabackup_cmd);
                    if (typeof xtrabackup_cmd === 'undefined') {
                        backup_cmd = mysqldump_cmd.join('<br><br>')
                    } else if (typeof mysqldump_cmd === 'undefined') {
                        backup_cmd = xtrabackup_cmd
                    } else {
                        backup_cmd = xtrabackup_cmd + '<br><br>' + mysqldump_cmd.join('<br><br>')
                    }

                    $('#s_ssh_host').append(json_data.ssh_host);
                    $('#s_ssh_port').append(json_data.ssh_port);
                    $('#s_ssh_user').append(json_data.ssh_user);
                    $('#s_backup_cmd').append(backup_cmd);
                },
                error: function (jqXHR) {
                    if (jqXHR.status === 403) {
                        displayPNotify(jqXHR.status)
                    }
                }
            })
        });

        function changeMethodStatus() {
            var backup_method = $("#s_method").val();
            if (backup_method.join(',') === 'mysqldump,xtrabackup') {
                myCodeMirror.setValue("[mysql]\n" +
                    "# mysql备份用户\n" +
                    "# 该用户必须有下面的权限\n" +
                    "# RELOAD, LOCK TABLES, PROCESS, REPLICATION CLIENT, SUPER, CREATE, INSERT, SELECT\n" +
                    "mysql_tool = /bin/mysql\n" +
                    "user = bkpuser\n" +
                    "password = 123.com\n" +
                    "host = 127.0.0.1\n" +
                    "port = 3306\n" +
                    "\n" +
                    "[mysqldump]\n" +
                    "# 备份命令的位置\n" +
                    "backup_tool = /bin/mysqldump\n" +
                    "# 指定要备份的库，以逗号分隔\n" +
                    "backup_dbs = mysql,test\n" +
                    "# 可选的mysqldump参数（此处不需要在指定-A参数），--help列出的\n" +
                    "dump_options = --single-transaction --master-data=2\n" +
                    "\n" +
                    "[xtrabackup]\n" +
                    "# 备份命令的位置\n" +
                    "backup_tool = /bin/xtrabackup\n" +
                    "# 指定mysql配置文件位置\n" +
                    "defaults-file = /etc/my.cnf\n" +
                    "# 若在主库上备份，指定 --binlog-info=ON\n" +
                    "# 若在从库上备份，指定 --slave-info\n" +
                    "# 可选的xtrabackup参数，--help列出的\n" +
                    "xtra_options = --no-version-check --rsync --binlog-info=ON\n" +
                    "\n" +
                    "[compress]\n" +
                    "# 可选，是否启用xtabackup备份压缩功能\n" +
                    "# 若是不启用，请注释\n" +
                    "compress = quicklz\n" +
                    "compress_chunk_size = 64k\n" +
                    "compress_threads = 4\n" +
                    "\n" +
                    "[encrypt]\n" +
                    "# 可选，是否启用xtabackup备份加密功能\n" +
                    "# 若是不启用，请注释\n" +
                    "# 生成24bit的加密秘钥，命令：openssl rand -base64 24\n" +
                    "encrypt = AES256\n" +
                    "encrypt_key = 'VVTBwgM4UhwkTTV98fphj+D1zyWoA89K'\n" +
                    "encrypt_threads = 4\n" +
                    "encrypt_chunk_size = 64k");
            } else if (backup_method.join() === 'mysqldump') {
                myCodeMirror.setValue("[mysql]\n" +
                    "# mysql备份用户\n" +
                    "# 该用户必须有下面的权限\n" +
                    "# RELOAD, LOCK TABLES, PROCESS, REPLICATION CLIENT, SUPER, CREATE, INSERT, SELECT\n" +
                    "mysql_tool = /bin/mysql\n" +
                    "user = bkpuser\n" +
                    "password = 123.com\n" +
                    "host = 127.0.0.1\n" +
                    "port = 3306\n" +
                    "\n" +
                    "[mysqldump]\n" +
                    "# 备份命令的位置\n" +
                    "backup_tool = /bin/mysqldump\n" +
                    "# 指定要备份的库，以逗号分隔\n" +
                    "backup_dbs = mysql,test\n" +
                    "# 可选的mysqldump参数（此处不需要在指定-A参数），--help列出的\n" +
                    "dump_options = --single-transaction --master-data=2\n")
            } else if (backup_method.join() === 'xtrabackup') {
                myCodeMirror.setValue("[mysql]\n" +
                    "# mysql备份用户\n" +
                    "# 该用户必须有下面的权限\n" +
                    "# RELOAD, LOCK TABLES, PROCESS, REPLICATION CLIENT, SUPER, CREATE, INSERT, SELECT\n" +
                    "mysql_tool = /bin/mysql\n" +
                    "user = bkpuser\n" +
                    "password = 123.com\n" +
                    "host = 127.0.0.1\n" +
                    "port = 3306\n" +
                    "\n" +
                    "[xtrabackup]\n" +
                    "# 备份命令的位置\n" +
                    "backup_tool = /bin/xtrabackup\n" +
                    "# 指定mysql配置文件位置\n" +
                    "defaults-file = /etc/my.cnf\n" +
                    "# 若在主库上备份，指定 --binlog-info=ON\n" +
                    "# 若在从库上备份，指定 --slave-info\n" +
                    "# 可选的xtrabackup参数，--help列出的\n" +
                    "xtra_options = --no-version-check --rsync --binlog-info=ON\n" +
                    "\n" +
                    "[compress]\n" +
                    "# 可选，是否启用xtabackup备份压缩功能\n" +
                    "# 若是不启用，请注释\n" +
                    "compress = quicklz\n" +
                    "compress_chunk_size = 64k\n" +
                    "compress_threads = 4\n" +
                    "\n" +
                    "[encrypt]\n" +
                    "# 可选，是否启用xtabackup备份加密功能\n" +
                    "# 若是不启用，请注释\n" +
                    "# 生成24bit的加密秘钥，命令：openssl rand -base64 24\n" +
                    "encrypt = AES256\n" +
                    "encrypt_key = 'VVTBwgM4UhwkTTV98fphj+D1zyWoA89K'\n" +
                    "encrypt_threads = 4\n" +
                    "encrypt_chunk_size = 64k\n")
            } else {
                myCodeMirror.setValue("")
            }
        }
    </script>
{% endblock %}