{% extends 'base.html' %}
{% load staticfiles %}

{% block link_css %}
    <style>
        .CodeMirror {
            border: 1px solid #eee;
            height: 450px;
            font-size: 14px;
        }

        .CodeMirror pre.CodeMirror-placeholder {
            color: #999;
        }

        .box-size {
            font-size: 12px;
        }
    </style>
{% endblock %}

{% block right_content %}
    <section class="content-header">
        <h1>
            线上业务-数据导出申请
        </h1>
    </section>

    <section class="content">
        <div class="row">
            <form class="form-horizontal" id="auditCommitForm" action="{% url 'p_data_export' %}"
                  method="post" data-toggle="validator">
                <div class="col-md-4">
                    <!-- Profile Image -->
                    <div class="box box-primary">
                        <div class="box-body no-padding">
                            <div class="mailbox-read-info">
                                <h5>填写下面信息</h5>
                            </div>
                        </div>
                        <div class="box-body box-profile">
                            <div class="form-group has-feedback">
                                <label class="control-label col-sm-3">项目</label>
                                <div class="col-sm-9">
                                    <select id="select_group" name="group_id" style="width: 100%" required
                                            class="selectpicker form-control" title="请选择一个可用的项目...">
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3">主机</label>
                                <div class="col-sm-9">
                                    <select id="select_env" name="host" onchange="getDatabaseList()"
                                            style="width: 100%"
                                            required
                                            class="form-control selectpicker" title="选择主机...">
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3">库名</label>
                                <div class="col-sm-9">
                                    <select id="select_db" name="database" style="width: 100%" required
                                            class="form-control selectpicker" title="选择库名...">
                                    </select>
                                </div>
                            </div>

                            <div class="form-group has-feedback">
                                <label class="control-label col-sm-3">文件名</label>
                                <div class="col-sm-9">
                                    <input type="text" name="title" data-minlength="5"
                                           class="form-control"
                                           placeholder="请输入描述性文字" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3">格式</label>
                                <div class="col-sm-9">
                                    <select name="file_format"
                                            style="width: 100%"
                                            required
                                            class="selectpicker form-control" title="请选择...">
{#                                        <option selected value="txt">txt</option>#}
                                        <option value="xlsx">xlsx</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3">编码</label>
                                <div class="col-sm-9">
                                    <select name="file_coding"
                                            style="width: 100%"
                                            required
                                            class="selectpicker form-control" title="请选择...">
                                        <option selected value="utf-8">utf-8</option>
                                        <option value="gbk">gbk</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group has-feedback">
                                <label class="control-label col-sm-3">DBA</label>
                                <div class="col-sm-9">
                                    <select id="select_dba" name="operate_dba" style="width: 100%" required
                                            class="selectpicker form-control">
                                    </select>
                                </div>
                            </div>

                            <div class="form-group has-feedback">
                                <label class="control-label col-sm-3">抄送</label>
                                <div class="col-sm-9">
                                    <select id="select_contact" name="email_cc_id" data-live-search="true"
                                            title="选择需要抄送的联系人..."
                                            data-actions-box="true"
                                            style="width: 100%" class="selectpicker form-control dropup"
                                            multiple required>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3"></label>
                                <div class="col-sm-9">
                                    <button type="button" onclick="beautifySQL()" class="btn bg-info btn-sm">美化SQL
                                    </button>

                                   <button type="submit" class="btn bg-info btn-sm">生成工单</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="box box-primary">
                        <div class="box-body no-padding">
                            <div class="mailbox-read-info">
                                <B>填写SELECT语句，仅支持单条SELECT导出语句
                                </B>
                            </div>
                        </div>
                        <div class="box-body no-padding">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <textarea id="select_sql" autofocus class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% csrf_token %}
            </form>
            <!-- /.col -->
        </div>

        <div class="box-size" id="typediv1" style="visibility: hidden">
            <div class="box box-gray">
                <div class="box-body no-padding">
                    <div class="table-responsive">
                        <table class="table table-striped table-condensed table-bordered">
                            <thead>
                            <tr>
                                <th class="col-sm-1 text-red">ID</th>
                                <th class="col-sm-1 text-red">阶段</th>
                                <th class="col-sm-1 text-red">状态</th>
                                <th class="col-sm-1 text-red">级别</th>
                                <th class="col-sm-2 text-red">信息</th>
                                <th class="col-sm-4 text-red">SQL</th>
                                <th class="col-sm-1 text-red">行数</th>
                                <th class="col-sm-1 text-red">耗时</th>
                            </tr>
                            </thead>
                            <tbody id="td_append">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block link_javascripts %}
    <script>
        var myTextarea = document.getElementById('select_sql');
        var myCodeMirror = CodeMirror.fromTextArea(myTextarea, {
            lineNumbers: true,
            mode: "text/x-mysql",
            extraKeys: {"Alt-Space": "autocomplete"},
            hint: CodeMirror.hint.sql
        });

        /**
         * 美化SQL
         */
        function beautifySQL() {
            var sql_content = myCodeMirror.getValue();
            var csrftoken = $.cookie('csrftoken');
            $.ajax({
                url: '{% url 'p_beautify_sql' %}',
                type: 'POST',
                dataType: 'json',
                data: {'sql_content': sql_content, 'csrfmiddlewaretoken': csrftoken},
                timeout: 5000,
                cache: false,
                success: function (data) {
                    if (data.errCode == 400) {
                        displayPNotify('400', data.errMsg);
                    }
                    else {
                        $.each(data, function (index, sql) {
                            myCodeMirror.setValue(sql);
                        })
                    }
                }
            })
        }

        /**
         * 获取线上环境主机信息
         * type=1
         */
        $(function () {
            $.ajax({
                url: '{% url 'p_incep_host_config' %}',
                type: 'GET',
                data: {'type': 1},
                dataType: 'json',
                timeout: 5000,
                cache: false,
                success: function (data) {
                    var html = '';
                    $.each(data, function (index, row) {
                        var host = row.host;
                        var comment = row.comment;
                        html += "<option value=" + host + ">" + comment + "</option>"
                    });
                    $('#select_env').append(html);
                    $('.selectpicker').selectpicker('refresh')
                }
            })
        });


        /**
         * 获取指定主机的数据库库名列表
         */
        function getDatabaseList() {
            $("#select_db").empty();
            var host = $("#select_env").val();
            var csrftoken = $.cookie('csrftoken');
            $.ajax({
                url: '{% url 'p_db_list' %}',
                type: 'POST',
                dataType: 'json',
                data: {'host': host, 'csrfmiddlewaretoken': csrftoken},
                timeout: 5000,
                cache: false,
                success: function (data) {
                    if (data.errCode === 200) {
                        var html = '';
                        $.each(data.errMsg, function (index, db) {
                            html += "<option value=" + db + ">" + db + "</option>"
                        });
                        $('#select_db').append(html);
                        $('.selectpicker').selectpicker('refresh')
                    }
                    else {
                        displayPNotify(data.errCode, data.errMsg);
                    }
                }
            })
        }

        /**
         * 获取备注信息
         */
        $(function () {
            var csrftoken = $.cookie('csrftoken');
            $.ajax({
                url: '{% url 'p_remark_info' %}',
                type: 'POST',
                dataType: 'json',
                timeout: 5000,
                data: {
                    'csrfmiddlewaretoken': csrftoken
                },
                cache: false,
                success: function (data) {
                    $.each(data, function (index, data) {
                        $("#select_remark").append(  //此处向select中循环绑定数据
                            "<option data-icon='fa fa-tag' value=" + data.remark + ">" + data.remark + "</option>");
                    });
                    $('.selectpicker').selectpicker('refresh');
                }
            })
        });

        /**
         * 获取当前用户所属的项目组
         */
        $(function () {
            $.ajax({
                url: '{% url 'p_group_info' %}',
                type: 'GET',
                dataType: 'json',
                timeout: 5000,
                cache: false,
                success: function (data) {
                    $.each(data, function (index, data) {
                        $("#select_group").append(  //此处向select中循环绑定数据
                            "<option data-icon='fa fa-th-large' value=" + data.group_id + ">" + data.group_name + "</option>");
                    });
                    $('.selectpicker').selectpicker('refresh');
                }
            })
        });

        /**
         *获取被选中项目的的DBA和Leader
         */
        $(function () {
            $("#select_group").change(function () {
                var group_id = $(this).val();
                var csrftoken = $.cookie('csrftoken');
                $.ajax({
                    url: '{% url 'p_audit_user' %}',
                    type: 'POST',
                    dataType: 'json',
                    timeout: 5000,
                    data: {
                        'group_id': group_id,
                        'csrfmiddlewaretoken': csrftoken
                    },
                    cache: false,
                    success: function (data) {
                        $("#select_dba").empty();
                        $("#select_leader").empty();
                        $.each(data, function (index, data) {
                            if (data.user_role == 'DBA') {
                                $("#select_dba").append(  //此处向select中循环绑定数据
                                    "<option data-icon='fa fa-user' data-subtext=" + data.email + " value=" + data.username + ">" + data.username + "</option>");
                            }
                            if (data.user_role == 'Leader') {
                                $("#select_verifier").append(  //此处向select中循环绑定数据
                                    "<option data-icon='fa fa-user' data-subtext=" + data.email + " value=" + data.username + ">" + data.username + "</option>");
                            }
                        });
                        $('.selectpicker').selectpicker('refresh');
                    }
                })
            });
            $("select_group").validator('update');
        });

        /**
         * 获取用户选择的项目的联系人
         */
        $(function () {
            $("#select_group").change(function () {
                var group_id = $(this).val();
                var csrftoken = $.cookie('csrftoken');
                $.ajax({
                    url: '{% url 'p_contacts_info' %}',
                    type: 'POST',
                    dataType: 'json',
                    timeout: 5000,
                    data: {
                        'group_id': group_id,
                        'csrfmiddlewaretoken': csrftoken
                    },
                    cache: false,
                    success: function (data) {
                        $("#select_contact").empty();
                        $.each(data, function (index, row) {
                            var html = '';
                            for (var i = 0; i < row.split(",").length; i++) {
                                var result = row.split(",")[i];
                                var username = result.split(":")[0];
                                var contact_id = result.split(":")[1];
                                var email = result.split(":")[2];
                                html += "<option data-icon='fa fa-user' data-subtext=" + email + " value=" + contact_id + ">" + username + "</option>";
                            }
                            $("#select_contact").append(html)
                        });
                        $('.selectpicker').selectpicker('refresh');
                    }
                })
            })
        });

        /**
         * 生成工单
         */

        var export_records_main = function () {
            window.parent.location.href = "/projects/data_export_records"
        };

        <!-- 有效性验证 -->
        $('#auditCommitForm').validator().on('submit', function (e) {
            var sql_content = myCodeMirror.getValue();
            if (sql_content.length < 10) {
                displayPNotify('400', '审核内容不能为空或小于10个字符');
                return false;
            }
            if (e.isDefaultPrevented()) {
                // 验证不通过
                displayPNotify('400', '表单无效，请完成填写');
            } else {
                // 验证通过
                $('#auditCommitForm').ajaxSubmit({
                    data: {'sql_content': sql_content},
                    dataType: 'json',
                    success: function (result) {
                        displayPNotify(result.errCode, result.errMsg, export_records_main);
                    }
                });
                return false;
            }
        });


    </script>
{% endblock %}



