{% extends 'base.html' %}
{% load staticfiles %}

{% block link_css %}
    <style>
        .table > tr > td {
            vertical-align: middle !important;
        }
    </style>
{% endblock %}

{% block right_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">数据变更记录</h3>
{#                    <div class="box-tools">#}
                        {#                        <form action="{% url 'page_projects' %}" method="get">#}
                        {#                            <div class="input-group input-group-sm" style="width: 250px;">#}
                        {#                                <input type="text" name="search_contents" class="form-control pull-right"#}
                        {#                                       placeholder="Search">#}
                        {##}
                        {#                                <div class="input-group-btn">#}
                        {#                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i>#}
                        {#                                    </button>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                            {% csrf_token %}#}
                        {#                        </form>#}
{#                    </div>#}
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-hover table-responsive" id="table_id">
                        <tr>
                            <th class="col-sm-1">工单</th>
                            <th class="col-sm-1">操作用户</th>
                            <th class="col-sm-1">目标主机</th>
                            <th class="col-sm-2">操作时间</th>
                            <th class="col-sm-1">数据库</th>
                            <th class="col-sm-3">执行SQL</th>
                            <th class="col-sm-1">影响行数</th>
                            <th class="col-sm-1">执行耗时(s)</th>
                            <th class="col-sm-1">详情</th>
                        </tr>
                        {% for row in sqlRecord %}
                            <tr data-tt-parent-id="1">
                                <td>{{ row.workid }}</td>
                                <td>{{ row.op_user }}</td>
                                <td>{{ row.dst_host }}</td>
                                <td>{{ row.op_time }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><a href="allsql_detail/{{ row.workid }}"><i
                                        class="fa fa-sliders"></i></a></td>
                            </tr>
                            {% for i in row.record %}
                                <tr data-tt-id="2" data-tt-parent-id="1">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>{{ i.dst_database }}</td>
                                    <td>
                                        <a href="#" data-toggle="tooltip"
                                           title="{{ i.op_sql }}">{{ i.op_sql|slice:"32"|add:'...' }}</a>
                                    </td>
                                    <td>{{ i.affected_rows }}</td>
                                    <td>{{ i.execute_time }}</td>
                                    <td><a href="singlesql_detail/{{ i.sequence }}"><i
                                            class="fa fa-sliders"></i></a></td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </table>
                    {# 分页 #}
                    {% include 'pagination.html' %}
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
{% endblock %}

{% block link_javascripts %}
    <script>
        $("#table_id").treetable();
    </script>
{% endblock %}