{% extends 'base.html' %}
{% load staticfiles %}

{% block link_css %}
    <style>
       .CodeMirror {
            border: 1px solid #eee;
            height: 520px;
            font-size: 13px;
        }
    </style>
{% endblock %}

{% block right_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">数据变更记录汇总详情</h3>
                </div>
                <div class="box-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>sql语句</th>
                            <th>阶段</th>
                            <th>阶段状态</th>
                            <th>错误级别</th>
                            <th>错误信息</th>
                            <th>影响行数</th>
                            <th>执行耗时(s)</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in sqldetail %}
                            <tr>
                                <td>
                                    <a href="#" data-toggle="tooltip"
                                       title="{{ row.op_sql }}">{{ row.op_sql|slice:"64"|add:'...' }}</a>
                                </td>
                                <td>{{ row.stage }}</td>
                                <td>{{ row.stagestatus }}</td>
                                <td>{{ row.errlevel }}</td>
                                <td>{{ row.errormessage }}</td>
                                <td>{{ row.affected_rows }}</td>
                                <td>{{ row.op_time }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <hr>
                <div class="box-body">
                    <dl>
                        <dt>原始SQL</dt>
                        <dd>
                            <textarea class="myTextareaClass">{{ originalSql }}</textarea>
                        </dd>
                        <br>
                        <dt>回滚SQL</dt>
                        <dd>
                            <textarea class="myTextareaClass">{{ rollbackSql }}</textarea>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block link_javascripts %}
    <script>
        var areas = document.getElementsByClassName("myTextareaClass");
        for (var i = 0; i < areas.length; i++) {
            CodeMirror.fromTextArea(areas.item(i), {
                lineNumbers: true,
                mode: "text/x-mysql",
                readOnly: true,
                matchBrackets: true,
                tabMode: "indent"
            })
        }
    </script>
{% endblock %}