{% extends 'base.html' %}
{% load staticfiles %}

{% block right_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <div class="mailbox-read-info">
                        <h3 class="box-title"><i class="fa fa-cog"></i> 线上数据审核记录</h3>
                    </div>
                </div>
                <div class="box-body">
                    <table id="demo-table"></table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block link_javascripts %}
    <script>
        /**
         * 初始化bootstrap-table，生成表格
         */
        $(function () {
            $('#demo-table').bootstrapTable({
                method: 'get',
                dataType: 'json',
                contentType: "application/x-www-form-urlencoded",
                url: "{% url 'p_incep_ol_records_l' %}",
                cache: false,
                queryParams: function (params) {
                    return {
                        limit_size: params.limit + params.offset,
                        offset_size: params.offset,
                        search_content: params.search
                    }
                },
                sidePagination: "server",
                showColumns: true,
                pagination: true,
                search: true,
                showRefresh: true,
                singleSelect: true,
                minimumCountColumns: 2,
                pageNumber: 1,
                pageSize: 10,
                locale: 'zh-CN',
                pageList: [10, 20],
                uniqueId: "id",
                classes: 'table table-hover table-no-bordered',

                columns: [
                    {
                        field: 'progress_value',
                        title: '进度',
                        formatter: function (value, row, index) {
                            return "<button type='button' class='btn " + row.progress_color + " btn-sm'>" + value + "</button>"
                        }
                    },
                    {
                        field: 'group_name',
                        title: '项目'
                    },
                    {
                        field: 'type',
                        title: '分类',
                        formatter: function (value) {
                            if (value === '数据变更') {
                                return '<a href="#" class=\'text-green\'>' + value + '</a>'
                            } else {
                                return '<a href="#" class=\'text-blue\'>' + value + '</a>'
                            }
                        }
                    },
                    {
                        field: 'title',
                        title: '标题',
                        formatter: function (value, row) {
                            if (value.length >= 16) {
                                return '<a href="#" data-toggle="tooltip" title=\"' + value + '\">' + value.slice(0, 16) + '&nbsp;...' + '</a>'
                            }
                            else {
                                return '<a href="#" data-toggle="tooltip" title=\"' + value + '\">' + value + '</a>'
                            }
                        }
                    },
                    {
                        field: 'created_at',
                        title: '创建时间',
                        formatter: function winLOSSFormatter(value) {
                            var date = new Date(value);
                            return date.toLocaleString();
                        }
                    },
                    {
                        field: 'proposer',
                        title: '申请人'
                    },
                    {
                        field: 'verifier',
                        title: '批准人'
                    }, {
                        field: 'operator',
                        title: '执行人'
                    },
                    {
                        field: 'id',
                        title: '审批',
                        formatter: function (value, row, index) {
                            return "<a href='#' onclick='verifyForm(" + row.id + "," + row.group_id + "," + '\"/projects/ol/incep_ol_approve/\"' + ",\"通过\", \"不通过\")'><i class='fa fa-pencil-square-o fa-lg'></i></a>"
                        }
                    },
                    {
                        field: 'id',
                        title: '反馈',
                        formatter: function (value, row, index) {
                            return "<a href='#' onclick='verifyForm(" + row.id + "," + row.group_id + "," + '\"/projects/ol/incep_ol_feedback/\"' + ",\"处理中\", \"已完成\")'><i class='fa fa-mail-reply-all fa-lg'></i></a>"
                        }
                    },
                    {
                        field: 'id',
                        title: '关闭',
                        formatter: function (value, row, index) {
                            return "<a href='#' onclick='verifyForm(" + row.id + "," + row.group_id + "," + '\"/projects/ol/incep_ol_close/\"' + ",\"提交\", \"结束\")'><i class='fa fa-close fa-lg'></i></a>"
                        }
                    },
                    {
                        field: 'id',
                        title: '详情',
                        formatter: function (value, row, index) {
                            return "<a href='incep_ol_details/" + row.id + "/" + row.group_id + "'><i class='fa fa-sliders fa-lg'></i></a>"
                        }

                    },
                    {
                        field: 'id',
                        title: '执行',
                        formatter: function (value, row) {
                            if (row.type === '数据变更') {
                                return "<a href='#' onclick='createTasks(" + row.id + "," + row.group_id + ")'><i class='fa fa-check-square-o fa-lg'></i></a>"
                            } else {
                                return '<a href="#" onclick="generalExportFile(' + row.id + ')"><i class="fa fa-check-square-o fa-lg"></i></a> ';
                            }
                        }
                    }
                ]
            })
        });

        // 确认操作
        function verifyForm(id, group_id, url, btn_left, btn_right) {
            layui.use('layedit', function () {
                layui.use('layer', function () {
                    var layer = layui.layer;
                    var csrftoken = $.cookie('csrftoken');

                    function ajaxCommit(addition_info, status) {
                        $.ajax({
                            type: 'post',
                            url: url,
                            dataType: 'json',
                            data: {
                                'id': id,
                                'group_id': group_id,
                                'status': status,
                                'addition_info': addition_info,
                                'csrfmiddlewaretoken': csrftoken
                            },
                            success: function (result) {
                                displayPNotify(result.status, result.msg, refresh_page);
                            },
                            error: function (jqXHR) {
                                if (jqXHR.status === 403) {
                                    displayPNotify(jqXHR.status)
                                }
                            }
                        });
                    }

                    layer.open({
                        title: '附加信息：',
                        type: 0,
                        resize: false,
                        content: '<input type="text" id="addition_info" style="margin: 0px; width: 250px;">',
                        btn: [btn_left, btn_right],
                        btnAlign: 'c',

                        yes: function () {
                            var addition_info = $('#addition_info').val();
                            var status = btn_left;
                            layer.close(layer.index);
                            ajaxCommit(addition_info, status)
                        },

                        btn2: function () {
                            var addition_info = $('#addition_info').val();
                            var status = btn_right;
                            ajaxCommit(addition_info, status)
                        },
                        // 右上角关闭回调
                        cancel: function () {
                        }
                    })
                    ;
                });
            })
        }

        <!-- 执行生成需要导出的文件 -->
        function generalExportFile(id) {
            var csrftoken = $.cookie('csrftoken');
            $.ajax({
                type: 'post',
                url: "{% url 'p_exec_data_export' %}",
                dataType: 'json',
                data: {
                    'id': id,
                    'csrfmiddlewaretoken': csrftoken
                },
                success: function (result) {
                    displayPNotify(result.status, result.msg);
                },
                error: function (jqXHR) {
                    if (jqXHR.status === 403) {
                        displayPNotify(jqXHR.status)
                    }
                }
            });
        }

        /**
         * 每5s刷新一次表格
         */

        $(function () {
            function refreshTable() {
                $('#demo-table').bootstrapTable('refresh', {silent: true});
            }

            setInterval(refreshTable, 5000);
        });

        // 创建任务
        function createTasks(id, group_id) {
            var csrftoken = $.cookie('csrftoken');
            $.ajax({
                type: 'post',
                url: "{% url 'p_incep_generate_tasks' %}",
                dataType: 'json',
                data: {
                    'id': id,
                    'group_id': group_id,
                    'csrfmiddlewaretoken': csrftoken
                },
                success: function (result) {
                    if (result.status === 0) {
                        window.location.href = result.jump_url
                    }
                    else {
                        displayPNotify(result.status, result.msg)
                    }
                },
                error: function (jqXHR) {
                    if (jqXHR.status === 403) {
                        displayPNotify(jqXHR.status)
                    }
                }
            });
        }
    </script>
{% endblock %}