{% extends 'base.html' %}
{% load staticfiles %}

{% block link_css %}
    <style>
        .table > tbody > tr > td {
            padding: 12px;
            vertical-align: middle !important;
        }
    </style>
{% endblock %}

{% block right_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">数据变更记录</h3>
                    <div class="box-tools">
                        <form action="{% url 'p_incep_online_sql_records' %}" method="get">
                            <div class="input-group input-group-sm" style="width: 350px;">
                                <input type="text" name="search_content" class="form-control pull-right"
                                       placeholder="Search">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-hover table-responsive">
                        <thead>
                        <tr>
                            <th>进度</th>
                            <th>项目</th>
                            <th>标题</th>
                            <th>申请人</th>
                            <th>批准人</th>
                            <th>执行人</th>
                            <th>审批</th>
                            <th>反馈</th>
                            <th>关闭</th>
                            <th>详情</th>
                            {% if request.user.user_role == 'DBA' %}
                                <th>生成执行任务</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% if audit_records %}
                            {% for row in audit_records %}
                                <tr>
                                    <td>
                                        <button type="button"
                                                class="btn btn-flat {{ row.progress_color }}">{{ row.progress_value }}</button>
                                    </td>
                                    <td>{{ row.group_name }}</td>
                                    <td>
                                        <a href="#" data-toggle="tooltip"
                                           title="{{ row.title }}">{{ row.title|slice:"16"|add:'...' }}</a>
                                        <br/>
                                        <small class="byline">创建时间: {{ row.created_at }}</small>
                                    </td>
                                    <td>
                                        {{ row.proposer }}
                                    </td>
                                    <td class="project_progress">
                                        {{ row.verifier }}
                                    </td>
                                    <td>
                                        {{ row.operate_dba }}
                                    </td>
                                    <td>
                                        <a href="#"
                                           onclick="verifyForm({{ row.id }}, {{ row.group_id }},'{% url 'p_incept_online_click_verify' %}', '通过', '不通过')"><i
                                                class="fa fa-pencil-square-o fa-lg"></i></a>
                                    </td>
                                    <td>
                                        <a href="#"
                                           onclick="verifyForm({{ row.id }}, {{ row.group_id }},'{% url 'p_incep_online_click_finish' %}', '处理中', '已完成')"><i
                                                class="fa fa-check-square-o fa-lg"></i></a>
                                    </td>
                                    <td>
                                        <a href="#"
                                           onclick="verifyForm({{ row.id }}, {{ row.group_id }},'{% url 'p_incep_online_click_close' %}', '提交', '结束')"><i
                                                class="fa fa-close fa-lg"></i></a>
                                    </td>
                                    <td>
                                        <a href="online_sql_detail/{{ row.id }}/{{ row.group_id }}"><i
                                                class="fa fa-sliders"></i></a>
                                    </td>
                                    {% if request.user.user_role == 'DBA' %}
                                        <td>
                                            <a href="#"
                                               onclick="createTasks({{ row.id }}, {{ row.group_id }})"><i
                                                    class="fa fa-cogs"></i></a>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td>未找到记录 ...</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>

                    {# 分页 #}
                    {% include 'pagination.html' %}
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
{% endblock %}

{% block link_javascripts %}
    <script>
        function verifyForm(id, group_id, url, btn_left, btn_right) {
            layui.use('layedit', function () {
                layui.use('layer', function () {
                    var layer = layui.layer;
                    var csrftoken = $.cookie('csrftoken');

                    function ajaxCommit(addition_info, status) {
                        $.ajax({
                            type: 'post',
                            url: url,
                            dataType: 'json',
                            data: {
                                'id': id,
                                'group_id': group_id,
                                'status': status,
                                'addition_info': addition_info,
                                'csrfmiddlewaretoken': csrftoken
                            },
                            success: function (result) {
                                displayPNotify(result.errCode, result.errMsg, refresh_page);
                            },
                            error: function (result) {
                                displayPNotify(result.errCode, result.errMsg);
                            }
                        });
                    }

                    layer.open({
                        title: '附加信息：',
                        type: 0,
                        resize: false,
                        content: '<input type="text" id="addition_info" style="margin: 0px; width: 250px;">',
                        btn: [btn_left, btn_right],
                        btnAlign: 'c',

                        yes: function () {
                            var addition_info = $('#addition_info').val();
                            var status = btn_left;
                            layer.close(layer.index);
                            ajaxCommit(addition_info, status)
                        },

                        btn2: function () {
                            var addition_info = $('#addition_info').val();
                            var status = btn_right;
                            ajaxCommit(addition_info, status)
                        },
                        // 右上角关闭回调
                        cancel: function () {
                        }
                    })
                    ;
                });
            })
        }

        <!-- 创建任务 -->
        function createTasks(id, group_id) {
            var csrftoken = $.cookie('csrftoken');
            $.ajax({
                type: 'post',
                url: "{% url 'p_incep_create_tasks' %}",
                dataType: 'json',
                data: {
                    'id': id,
                    'group_id': group_id,
                    'csrfmiddlewaretoken': csrftoken
                },
                success: function (result) {
                    if (result.errCode === 400) {
                        displayPNotify(result.errCode, result.errMsg, refresh_page);
                    }
                    else {
                        window.location.href = result.dst_url
                    }
                }
            });
        }
    </script>
{% endblock %}