{% extends 'base.html' %}
{% load staticfiles %}

{% block right_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <div class="mailbox-read-info">
                        <h3 class="box-title"><i class="fa fa-cog"></i> SQL执行任务记录</h3>
                    </div>
                </div>
                <div class="box-body">
                    <table id="demo-table"></table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>

{% endblock %}

{% block link_javascripts %}
    <script>
        /**
         * 初始化bootstrap-table，生成表格
         */
        $(function () {
            $('#demo-table').bootstrapTable({
                method: 'get',
                dataType: 'json',
                url: "{% url 'p_incep_perform_records_l' %}",
                cache: false,
                sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
                showColumns: true,
                pagination: true,
                search: true,
                showRefresh: true,
                singleSelect: true,
                minimumCountColumns: 2,
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 10,                        //每页的记录行数（*）
                pageList: [10, 20, 30],        //可供选择的每页的行数（*）
                uniqueId: "taskid",                     //每一行的唯一标识，一般为主键列
                classes: 'table table-hover table-no-bordered',

                columns: [
                    {
                        field: 'taskid',
                        title: '任务工单号',
                        sortable: true
                    },
                    {
                        field: 'group_name',
                        title: '项目',
                        sortable: true
                    },
                    {
                        field: 'category',
                        title: '任务分类',
                        sortable: true,
                        formatter: function (value, row, index) {
                            if (value === '线上任务'){
                                return "<p class='text-blue'>" + value + "</p>"
                            }
                            else if (value === '线下任务') {
                                return "<p class='text-muted'>" + value + "</p>"
                            }
                        }

                    },
                    {
                        field: 'user',
                        title: '创建用户',
                        sortable: true
                    }, {
                        field: 'dst_host',
                        title: '主机',
                        sortable: true
                    },
                    {
                        field: 'dst_database',
                        title: '数据库',
                        sortable: true
                    },
                    {
                        field: 'make_time',
                        title: '创建时间',
                        formatter: function winLOSSFormatter(value) {
                            var date = new Date(value);
                            return date.toLocaleString();
                        }
                    },
                    {
                        field: 'taskid',
                        title: "任务详情",
                        formatter: function (value, row, index) {
                            return '<a href="incep_perform_details/' + row.taskid + '"><i class="fa fa-list-ol"></i></a> ';
                        }
                    }
                ]
            })
        })
    </script>
{% endblock %}