{% extends 'base.html' %}
{% load staticfiles %}

{% block link_css %}
    <style>
        .CodeMirror {
            font-family: monospace;
            height: 280px;
            border: 1px solid #ccc; /*add by jackqqxu*/
            font-family: Monaco, Menlo, Consolas, 'COURIER NEW', monospace;
            font-size: 12px;
        }
    </style>
{% endblock %}

{% block right_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">数据变更单条记录详情</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-hover">
                        <tr>
                            <td>工单</td>
                            <td>{{ sqlDetail.workid }}</td>
                        </tr>
                        <tr>
                            <td>操作用户</td>
                            <td>{{ sqlDetail.op_user }}</td>
                        </tr>
                        <tr>
                            <td>目标主机</td>
                            <td>{{ sqlDetail.dst_host }}</td>
                        </tr>
                        <tr>
                            <td>数据库</td>
                            <td>{{ sqlDetail.dst_database }}</td>
                        </tr>
                        <tr>
                            <td>阶段</td>
                            <td>{{ sqlDetail.stage }}</td>
                        </tr>
                        <tr>
                            <td>阶段状态</td>
                            <td>{{ sqlDetail.stagestatus }}</td>
                        </tr>
                        <tr>
                            <td>错误级别</td>
                            <td>{{ sqlDetail.errlevel }}</td>
                        </tr>
                        <tr>
                            <td>错误信息</td>
                            <td>{{ sqlDetail.errormessage }}</td>
                        </tr>
                        <tr>
                            <td>影响行数</td>
                            <td>{{ sqlDetail.affected_rows }}</td>
                        </tr>
                        <tr>
                            <td>执行耗时(s)</td>
                            <td>{{ sqlDetail.execute_time }}</td>
                        </tr>
                        <tr>
                            <td>操作时间</td>
                            <td>{{ sqlDetail.op_time }}</td>
                        </tr>
                    </table>
                </div>
                <div class="box-body">
                    <dl>
                        <dt>原始SQL</dt>
                        <dd>
                            <textarea class="myTextareaClass">{{ sqlDetail.op_sql }}</textarea>
                        </dd>
                        <br>
                        <dt>回滚SQL</dt>
                        <dd>
                            <textarea class="myTextareaClass">{{ rollbackSql }}</textarea>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block link_javascripts %}
    <script>
        var areas = document.getElementsByClassName("myTextareaClass");
        for (var i = 0; i < areas.length; i++) {
            CodeMirror.fromTextArea(areas.item(i), {
                lineNumbers: true,
                mode: "text/x-mysql",
                readOnly: true,
                matchBrackets: true,
                tabMode: "indent"
            })
        }
    </script>
{% endblock %}