{% extends 'base.html' %}
{% load staticfiles %}

{% block right_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <div class="mailbox-read-info">
                        <h3 class="box-title"><i class="fa fa-code"></i> 历史工单-生产环境</h3>
                    </div>
                </div>
                <div class="box-body">
                    <table id="demo-table"></table>
                </div>
            </div>
        </div>
    </div>

    <!-- 任务进度模态框 -->
    <div class="modal fade" id="modal_tasks_show" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="myModalLabel">任务进度:
                        <b id="s_tasks" class="text-danger"></b>
                       &nbsp;&nbsp;&nbsp;<a href="#" onclick="dingNotice()"><i class="fa fa-bell-o" style="color: red">钉一下</i></a>
                    </h5>
                    <h5><small><cite>
                            <i class="fa fa-check" style="color: green"></i>: 表示已经执行，
                            <i class="fa fa-close" style="color: red"></i>: 表示未推到该环境，
                            其他状态: 表示该任务的进度
                        </cite></small>
                    </h5>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="box-body">
                            <table id="tasks-table"></table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block link_javascripts %}
    <script>
        /**
         * 初始化bootstrap-table，生成表格
         */
        $(function () {
            $('#demo-table').bootstrapTable({
                method: 'get',
                dataType: 'json',
                contentType: "application/x-www-form-urlencoded",
                url: "{% url 'p_audit_records_list' %}",
                cache: false,
                queryParams: function (params) {
                    return {
                        envi_desc: 2,
                        limit_size: params.limit + params.offset,
                        offset_size: params.offset,
                        search_content: params.search
                    }
                },
                sidePagination: "server",
                showColumns: true,
                pagination: true,
                search: true,
                showRefresh: true,
                singleSelect: true,
                minimumCountColumns: 2,
                pageNumber: 1,
                pageSize: 10,
                locale: 'zh-CN',
                pageList: [10, 20],
                uniqueId: "id",
                classes: 'table table-hover table-no-bordered',

                columns: [
                    {
                        field: 'progress_value',
                        title: '进度',
                        formatter: function (value, row, index) {
                            return "<button type='button' class='btn " + row.progress_color + " btn-sm'>" + value + "</button>"
                        }
                    },
                    {
                        field: 'title',
                        title: '标题',
                        formatter: function (value, row) {
                            if (value.length >= 16) {
                                return '<a target="_blank" href="work_order_details/' + row.id + '" title=\"' + value + '\">' + value.slice(0, 16) + '</a>'
                            }
                            else {
                                return '<a target="_blank" href="work_order_details/' + row.id + '" title=\"' + value + '\">' + value + '</a>'
                            }
                        }
                    },
                    {
                        field: 'operate_type',
                        title: '类型'
                    },
                    {
                        field: 'remark_desc',
                        title: '备注'
                    },
                    {
                        field: 'tasks',
                        title: '任务',
                        formatter: function (value) {
                            return "<a href='#' onclick='deploy_tasks_table(" + "\"" + value + "\"" + ")'>" + value + "</a>"
                        }
                    },
                    {
                        field: 'host',
                        title: '主机/库',
                        formatter: function (value, row) {
                            return value + '<br>' + row.database
                        }
                    },
                    {
                        field: 'proposer',
                        title: '申请人'
                    },
                    {
                        field: 'operator',
                        title: '审批人'
                    },
                    {
                        field: 'created_at',
                        title: '提交时间',
                        formatter: function (value) {
                            return moment(value).format('YYYY-MM-DD HH:mm:ss');
                        }
                    },
                    {
                        field: 'id',
                        title: '审批',
                        formatter: function (value, row, index) {
                            return "<a href='#' onclick='work_order_operate_form(" + row.id + "," + '\"/projects/ol/work_order_approve/\"' + ",\"通过\", \"不通过\")'><i class='fa fa-pencil-square-o fa-lg'></i></a>"
                        }
                    },
                    {
                        field: 'id',
                        title: '执行',
                        formatter: function (value, row) {
                            return "<a href='#' onclick='general_perform_tasks(" + row.id + "," + row.envi_desc + ")'><i class='fa fa-check-square-o fa-lg'></i></a>"
                        }
                    },
                    {
                        field: 'id',
                        title: '反馈',
                        formatter: function (value, row, index) {
                            return "<a href='#' onclick='work_order_operate_form(" + row.id + "," + '\"/projects/ol/work_order_feedback/\"' + ",\"处理中\", \"已完成\")'><i class='fa fa-mail-reply-all fa-lg'></i></a>"
                        }
                    },
                    {
                        field: 'id',
                        title: '关闭',
                        formatter: function (value, row, index) {
                            return "<a href='#' onclick='work_order_operate_form(" + row.id + "," + '\"/projects/ol/work_order_close/\"' + ",\"提交\", \"结束\")'><i class='fa fa-close fa-lg'></i></a>"
                        }
                    }
                ]
            })
        });

        /**
         * 每3s刷新一次表格
         */

        $(function () {
            function refreshTable() {
                $('#demo-table').bootstrapTable('refresh', {silent: true});
            }

            setInterval(refreshTable, 3000);
        });
    </script>
{% endblock %}