{% extends 'base.html' %}
{% load staticfiles %}

{% block link_css %}
    <style>
        .CodeMirror {
            border: 1px solid #eee;
            height: 350px;
            font-size: 12px;
        }

        .tab .nav-tabs {
            padding-left: 15px;
        }

        .tab .nav-tabs li a {
            padding: 10px 20px;
            margin-right: 10px;
            border: 2px;
            position: relative;
        }

        .jstree-leaf {
            font-size: 12px;
        }
    </style>
{% endblock %}

{% block right_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header box-border">
                    <div class="mailbox-read-info">
                        <h3 class="box-title"><i class="fa fa-cog"></i> 生产环境-MySQL查询_只读</h3>
                    </div>
                    <div class="mailbox-read-info">
                        <p>
                            <small><cite>1. 默认返回 limit 500条记录，最大支持 limit 1000, <span class="text-danger">limit N offset N语法会被强制重写为：limit N</span></cite>
                            </small>
                        </p>
                        <p>
                            <small><cite>2. 支持 tab 语法补全，支持注释(Windows：ctr + / ,Mac：command + /),
                                最大查询时间30s，超出该查询时间，将会抛出：timed out</cite></small>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="box-body box-border">
                        <div class="col-md-3">
                            <div style="height: 520px;overflow: scroll">
                                <div id="container"></div>
                            </div>
                        </div>

                        <div class="col-md-9">
                            <form class="form-inline" id="SqlQueryForm" action="{% url 'p_online_query' %}"
                                  method="post">
                                <div class="form-group">
                                    <button type="button" onclick="beautifySQL()" class="btn bg-info btn-sm"><i
                                            class="fa fa-magic"></i> 美化SQL
                                    </button>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn bg-info btn-sm"><i class="fa fa-flash"></i> 执行
                                    </button>
                                </div>
                                {% csrf_token %}
                            </form>
                            <div>
                                <textarea title="" id="s_sql"></textarea>
                            </div>
                            <div>
                                <textarea title="" id="query_log"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box" id="typediv1" style="visibility: hidden">
                <div class="box-body">
                    <div class="tab">
                        <ul class="nav nav-tabs" id="li_append"></ul>
                        <div class="tab-content" id="table_append"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 表结构模态框 -->
    <div class="modal fade modal-wide" id="modal_table_stru">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><i class="fa fa-table"></i> 表结构和索引</h4>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="box-body">
                            <div>
                                <h5><i class="fa fa-tag text-blue"> 表结构</i></h5>
                                <pre><code class="sql" id="table_stru"></code></pre>
                            </div>
                            <div>
                                <h5><i class="fa fa-italic text-blue"> 索引</i></h5>
                                <table id="table_index"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block link_javascripts %}
    <script>
        var myTextarea = document.getElementById('s_sql');
        var myCodeMirror = CodeMirror.fromTextArea(myTextarea, {
            lineNumbers: true,
            mode: "text/x-mysql",
            autoRefresh: true,
            smartIndent: true,
            indentWithTabs: true,
            styleActiveLine: true,
            autofocus: true,
            keyMap: "sublime",
            autoCloseBrackets: true,
            matchBrackets: true,
            lineWrapping: true,
            showCursorWhenSelecting: true,
            extraKeys: {"Tab": "autocomplete"},
            hint: CodeMirror.hint.sql
        });

        var myQueryLog = CodeMirror.fromTextArea(document.getElementById('query_log'), {
            mode: "text/x-mysql",
            autoRefresh: true,
            readOnly: true,
            autofocus: false,
            lineWrapping: true,
            placeholder: '执行输出 ...'
        });

        myQueryLog.setSize('height', '150px');

        /**
         * 获取生产环境的schemas和tables信息，左侧jstree展示使用
         */
        $(function () {
            $.ajax({
                url: '{% url 'p_get_online_query_schema_tree' %}',
                type: 'GET',
                dataType: 'json',
                timeout: 10000,
                cache: false,
                success: function (data) {
                    if (data.length > 0) {
                        // jstree
                        $('#container').jstree({
                            'core': {
                                "animation": 0,
                                {#"multiple": false,#}
                                "themes": {
                                    "responsive": false
                                },
                                'data': data
                            },
                            {#"checkbox": {#}
                            {#    "three_state": false#}
                            {# },#}
                            "types": {
                                "default": {
                                    "icon": "fa fa-database text-green"
                                }
                            },
                            "plugins": ["types", "wholerow", "sort", "themes"]
                        });
                        jstree_click();
                    }
                    else {
                        $('#container').append('没有授权的库，请联系DBA');
                    }
                }
            });
        });


        var query_schema = '';
        var tab_schema = '';
        var $table_index = $('#table_index');

        function jstree_click() {
            var $container = $('#container');
            // 单击jstree时触发
            $container.on("changed.jstree", function (e, data) {
                query_schema = data.selected.toString();
            });

            $container.on("after_open.jstree", function (e, data) {
                // tab补全
                // 172.17.101.40-3306-test
                tab_schema = data.node.id.split('-').slice(0, 2).join(',');
                if (tab_schema) {
                    get_table_meta_info(tab_schema);
                }
            });
            // 双击jstree时触发
            $container.on("dblclick.jstree", function (event) {
                $('#table_stru').empty();
                var tree = $(this).jstree();
                var node = tree.get_node(event.target);
                $.ajax({
                    url: "{% url 'p_get_stru_info' %}",
                    type: 'GET',
                    dataType: 'json',
                    data: {'schema': node.id},
                    timeout: 30000,
                    cache: true,
                    success: function (result) {
                        if (result.status === 0) {
                            var data = result.data;
                            $('#modal_table_stru').modal('show');
                            $('#table_stru').append(data.stru);
                            highlightSQL();
                            $table_index.bootstrapTable({
                                columns: data.index.columnDefinition,
                                data: data.index.data,
                                pageNumber: 1,
                                pageSize: 20,
                                locale: 'zh-CN',
                                pageList: [20, 30, 50],
                                sidePagination: "client",
                                pagination: true,
                                singleSelect: true,
                                minimumCountColumns: 2,
                                matchBrackets: true,
                                lineWrapping: true,
                                classes: 'table table-hover'
                            });
                        }
                    }
                });
            });
        }

        <!-- 语法高亮 -->
        function highlightSQL() {
            {# 模态框加载后，执行，否则顺序不对，无法高亮SQL语法 #}
            $('pre code').each(function (i, block) {
                hljs.highlightBlock(block);
                hljs.configure({
                    tabReplace: 4
                })
            });
        }

        // 获取查询日志
        var socket = new WebSocket('ws://' + window.location.host + '/ws/');
        socket.onmessage = function (message) {
            var result = JSON.parse(message.data);
            var msg = result.msg;
            var currentDate = new Date();
            var mytime = currentDate.toLocaleString();


            if (result.type === 1) {
                var query_log_html = '';
                if (msg instanceof Array) {
                    query_log_html = '时间：' + mytime + '\n' + msg.join('\n') + '\n';
                } else {
                    query_log_html = '时间：' + mytime + '\n' + msg + '\n\n'
                }

                myQueryLog.replaceRange(query_log_html, CodeMirror.Pos(myQueryLog.lastLine()));
                myQueryLog.setCursor(myQueryLog.lineCount(), 0);
            }
        };

        // 模态框关闭时，销毁动态表格
        $('#modal_table_stru').on('hidden.bs.modal', function (e) {
            $table_index.bootstrapTable('destroy', true)
        })
    </script>
{% endblock %}