{% extends 'base.html' %}
{% load staticfiles %}

{% block link_css %}
    <style>
        .CodeMirror {
            border: 1px solid #eee;
            height: 530px;
        }
    </style>
{% endblock %}

{% block right_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header box-border">
                    <div class="mailbox-read-info">
                        <h3 class="box-title"><i class="fa fa-code"></i> 生产环境-数据变更工单
                            <a class="tipshow">
                                <i class="fa fa-question-circle" style="color: green"></i>
                            </a>
                        </h3>
                    </div>
                </div>
                <div class="box-body box-border">
                    <form class="form-horizontal" id="olAuditCommitForm" action="{% url 'p_work_order_audit' %}"
                          method="post" data-toggle="validator">
                        <div class="col-md-4" id="left_input_height">
                            <div class="box box-gray">
                                <div class="box-body no-padding">
                                    <div class="mailbox-read-info">
                                        <h5>选择环境</h5>
                                    </div>
                                </div>
                                <div class="box-body box-profile">
                                    <div class="form-group has-feedback">
                                        <label class="control-label col-sm-3">标题*</label>
                                        <div class="col-sm-9">
                                            <input type="text" id="s_title" name="title" data-minlength="5"
                                                   class="form-control" spellcheck="false"
                                                   placeholder="描述操作的目的" required>
                                        </div>
                                    </div>

                                    <div class="form-group has-feedback">
                                        <label class="control-label col-sm-3">需求号</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="url" data-minlength="5"
                                                   class="form-control" spellcheck="false"
                                                   placeholder="关联jira需求号链接">
                                        </div>
                                    </div>

                                    <div class="form-group has-feedback" style="display: none">
                                        <label class="control-label col-sm-3">上线类型</label>
                                        <div class="col-sm-9">
                                            <select id="s_type"
                                                    style="width: 100%" name="remark" required
                                                    class="selectpicker form-control" title="请选择...">
                                                <option data-icon="glyphicon-paperclip" selected value="2">数据修复
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-sm-3">操作*</label>
                                        <div class="col-sm-9">
                                            <select id="s_operate" name="operate_type"
                                                    style="width: 100%"
                                                    required
                                                    class="selectpicker form-control">
                                                <option data-icon="glyphicon-pushpin" selected value="DML">数据变更</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-sm-3">库名*</label>
                                        <div class="col-sm-9">
                                            <select id="s_schema" name="database" style="width: 100%" required
                                                    data-live-search="true"
                                                    class="form-control selectpicker" title="选择库名..."
                                                    onchange="get_table_info()">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group has-feedback">
                                        <label class="control-label col-sm-3">审核DBA*</label>
                                        <div class="col-sm-9">
                                            <select id="s_operator" name="operator" style="width: 100%" required
                                                    class="selectpicker form-control">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-sm-3"></label>
                                        <div class="col-sm-9">
                                            <button type="button" onclick="beautifySQL()"
                                                    class="btn bg-info btn-sm">美化SQL
                                            </button>

                                            <button type="button" onclick="incepSyntaxCheckForm()"
                                                    class="btn bg-info btn-sm">语法检测
                                            </button>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-sm-3"></label>
                                        <div class="col-sm-9">
                                            <button type="submit" class="btn bg-info btn-sm">生成工单</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <div class="box">
                                <div class="box-header with-border">
                                    <h5 class="box-title">注意：</h5>
                                </div>
                                <div class="box-body">
                                    <div class="text-muted">
                                        <p>* 经DBA审核后，由开发自行执行</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="box box-gray">
                                <div class="box-body no-padding">
                                    <div class="mailbox-read-info">
                                        <h5>填写SQL语句
                                            <small class="text-muted"><cite>使用Tab自动补全(必须先选择左侧的主机)</cite></small>
                                        </h5>
                                    </div>
                                </div>
                                <div class="box-body no-padding">
                                    <div class="form-group">
                                        <div class="col-md-12" id="right_code_hight">
                                            <textarea id="s_sql" autofocus class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% csrf_token %}
                    </form>
                    <!-- /.col -->
                </div>
            </div>

            <div class="box-size" id="typediv1" style="visibility: hidden">
                <div class="box box-gray">
                    <div class="box-body no-padding">
                        <div class="table-responsive">
                            <table class="table table-striped table-condensed table-bordered">
                                <thead>
                                <tr>
                                    <th class="col-sm-1 text-red">ID</th>
                                    <th class="col-sm-1 text-red">阶段</th>
                                    <th class="col-sm-1 text-red">状态</th>
                                    <th class="col-sm-1 text-red">级别</th>
                                    <th class="col-sm-2 text-red">信息</th>
                                    <th class="col-sm-4 text-red">SQL</th>
                                    <th class="col-sm-1 text-red">扫描/影响行数</th>
                                    <th class="col-sm-1 text-red">耗时</th>
                                </tr>
                                </thead>
                                <tbody id="td_append">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Tippy提示 -->
    <div id="myTemplate" style="display: none;">
        <h3><span style="color: pink;">提示</span></h3>
        <p><b>1. 该页面仅支持提交生产数据变更工单</b></p>
        <p><b>2. 上线流程操作，请移步测试环境进行工单扭转操作</b></p>
        <p><b>3. 支持DML(select/insert/update/delete)语句</b></p>
        <p><b>4. 请务必按照"语法检测"输出的"信息"，更正SQL语法</b></p>
    </div>
{% endblock %}

{% block link_javascripts %}
    <script>
        var myTextarea = document.getElementById('s_sql');
        var myCodeMirror = CodeMirror.fromTextArea(myTextarea, {
            lineNumbers: true,
            mode: "text/x-mysql",
            autoRefresh: true,
            smartIndent: true,
            indentWithTabs: true,
            styleActiveLine: true,
            autofocus: true,
            keyMap: "sublime",
            autoCloseBrackets: true,
            matchBrackets: true,
            showCursorWhenSelecting: true,
            extraKeys: {"Tab": "autocomplete"},
            hint: CodeMirror.hint.sql,
            placeholder:
                "# 插入数据(这是注释)\n/* 插入数据(这也是注释) */\ninsert into tbl(id,name) values(1,'zs');"
        });


        /**
         * 获取生产环境schema列表，envi=3, is_master=1
         */
        $(function () {
            $.ajax({
                url: '{% url 'p_get_schema_info' %}',
                type: 'GET',
                dataType: 'json',
                data: {'envi': 3, 'is_master': 1},
                timeout: 5000,
                cache: false,
                success: function (data) {
                    var html = '';
                    $.each(data, function (index, row) {
                        var result = [row.host, row.port, row.schema].join(',');
                        html += "<option data-icon='fa fa-database' value=" + result + ">" + row.schema + "</option>"
                    });
                    $('#s_schema').append(html);
                    $('.selectpicker').selectpicker('refresh')
                }
            })
        });

        /**
         * 获取指定主机schema的tables信息
         */
        function get_table_info() {
            var schema = $("#s_schema").val();
            var csrftoken = $.cookie('csrftoken');
            $.ajax({
                url: '/projects/get_table_info/',
                type: 'POST',
                dataType: 'json',
                data: {'schema': schema, 'csrfmiddlewaretoken': csrftoken},
                timeout: 5000,
                cache: true,
                success: function (result) {
                    if (result.status === 0) {
                        myCodeMirror.setOption("hintOptions", {tables: result.data.tables});
                    }
                    else {
                        displayPNotify(result.status, result.msg);
                    }
                }
            });
        }

        /**
         * 获取DBA信息
         */
        $(function () {
            $.ajax({
                url: '/projects/get_audit_user/',
                type: 'GET',
                dataType: 'json',
                timeout: 5000,
                cache: false,
                success: function (result) {
                    $("#s_operator").empty();
                    $.each(result, function (index, row) {
                        $.each(row.user, function (index, data) {
                            $("#s_operator").append(
                                "<option data-icon='glyphicon-user' data-subtext=" + data.displayname + " value=" + data.username + ">" + data.username + "</option>");
                        })
                    });
                    $('.selectpicker').selectpicker('refresh');
                }
            })
        });


        /**
         * 提交审核内容
         * * category='1' ：线上工单
         */

        $('#olAuditCommitForm').validator().on('submit', function (e) {
            var contents = myCodeMirror.getValue();
            if (contents.length < 10) {
                displayPNotify(2, '审核内容不能为空或小于10个字符');
                return false;
            }
            if (e.isDefaultPrevented()) {
                // 验证不通过
                displayPNotify(2, '表单无效，请完成填写');
            } else {
                // 验证通过
                $(this).ajaxSubmit({
                    data: {'contents': contents, 'envi_desc': 2, 'jump_url': '/projects/ol/ol_records'},
                    dataType: 'json',
                    success: function (result) {
                        if (result.status === 0) {
                            window.parent.location.href = result.jump_url
                        } else {
                            displayPNotify(result.status, result.msg)
                        }
                    },
                    error: function (jqXHR) {
                        if (jqXHR.status === 403) {
                            displayPNotify(jqXHR.status)
                        }
                    }
                });
                return false;
            }
        });

        /**
         * 设置左右两边的宽度为一致
         */
        $('#left_input_height').height($('#right_code_hight').height());


        <!-- 初始化Tippy -->
        tippy('.tipshow', {
            html: '#myTemplate',
            theme: 'translucent',
            arrow: true,
            placement: 'top-start',
            arrowType: 'round',
            size: 'large',
            duration: 500,
            animation: 'scale'
        })
    </script>
{% endblock %}



