{% extends 'base.html' %}
{% load staticfiles %}

{% block link_css %}
    <style>
        .form-group {
            margin-bottom: 20px;
        }
    </style>
{% endblock %}

{% block right_content %}
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">数据变更->填写</h3>
        </div>

        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <form role="form" id="auditCommitForm" action="{% url 'p_online_sql_commit' %}"
                          class="form-horizontal"
                          method="post"
                          data-toggle="validator">
                        <div class="form-group has-feedback">
                            <label class="control-label col-md-1">标题</label>
                            <div class="col-md-8">
                                <input type="text" id="select_title" name="title" data-minlength="5"
                                       class="form-control"
                                       placeholder="描述操作的目的, 最少5个字符" required>
                            </div>
                            <div class="help-block with-errors col-md-2"></div>
                        </div>

                        <div class="form-group has-feedback">
                            <label class="control-label col-md-1">备注</label>
                            <div class="col-md-8">
                                <select id="select_remark" name="remark" style="width: 100%" title="请选择合适的备注"
                                        class="selectpicker form-control dropup" required>
                                </select>
                            </div>
                            <div class="help-block with-errors col-md-2"></div>
                        </div>

                        <div class="form-group has-feedback">
                            <label class="control-label col-md-1">项目组</label>
                            <div class="col-md-8">
                                <select id="select_group" name="group_id" style="width: 100%" required
                                        class="selectpicker form-control" title="请选择一个可用的项目...">
                                </select>
                            </div>
                            <div class="help-block with-errors col-md-2"></div>
                        </div>

                        <div class="form-group has-feedback">
                            <label class="control-label col-md-1">执行DBA</label>
                            <div class="col-md-8">
                                <select id="select_dba" name="operate_dba" style="width: 100%" required
                                        class="selectpicker form-control">
                                </select>
                            </div>
                            <div class="help-block with-errors col-md-2"></div>
                        </div>

                        <div class="form-group has-feedback">
                            <label class="control-label col-md-1">批准人</label>
                            <div class="col-md-8">
                                <select id="select_verifier" name="verifier" style="width: 100%" required
                                        class="selectpicker form-control">
                                </select>
                            </div>
                            <div class="help-block with-errors col-md-2"></div>
                        </div>

                        <div class="form-group has-feedback">
                            <label class="control-label col-md-1">抄送</label>
                            <div class="col-md-8">
                                <select id="select_contact" name="email_cc_id" data-live-search="true"
                                        title="选择需要抄送的联系人..."
                                        data-actions-box="true"
                                        style="width: 100%" class="selectpicker form-control dropup"
                                        multiple required>
                                </select>
                            </div>
                            <div class="help-block with-errors col-md-2"></div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-1">审核内容</label>
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div id="summernote"></div>
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-1"></label>
                            <div class="col-md-8">
                                <button type="submit" class="btn bg-olive">提交</button>
                                <button type="reset" class="btn bg-olive">重置</button>
                            </div>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block link_javascripts %}
    <script>
        /**
         * 富文本编辑器summernote
         */
        $(document).ready(function () {
            $('#summernote').summernote({
                theme: 'slate',
                height: 400,                 // set editor height
                minHeight: null,             // set minimum height of editor
                maxHeight: null,             // set maximum height of editor
                lang: 'zh-CN',
                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New'],
                toolbar: [
                    // [groupName, [list of button]]
                    {#['style', ['bold', 'italic', 'underline', 'clear']],#}
                    {#['font', ['strikethrough']],#}
                    ['fontsize', ['fontsize']],
                    {#['color', ['color']],#}
                    {#['para', ['ul', 'ol', 'paragraph']],#}
                    {#['height', ['height']],#}
                    {#['Insert', ['link']],#}
                    ['Misc', ['fullscreen', 'undo', 'help']]
                ]
            });
        });

        // 获取备注信息
        $(function () {
            var csrftoken = $.cookie('csrftoken');
            $.ajax({
                url: '{% url 'p_remark_info' %}',
                type: 'POST',
                dataType: 'json',
                timeout: 5000,
                data: {
                    'csrfmiddlewaretoken': csrftoken
                },
                cache: false,
                success: function (data) {
                    $.each(data, function (index, data) {
                        $("#select_remark").append(  //此处向select中循环绑定数据
                            "<option data-icon='fa fa-tag' value=" + data.remark + ">" + data.remark + "</option>");
                    });
                    $('.selectpicker').selectpicker('refresh');
                }
            })
        });

        // 获取当前用户所属的项目组
        $(function () {
            $.ajax({
                url: '{% url 'p_get_group' %}',
                type: 'GET',
                dataType: 'json',
                timeout: 5000,
                cache: false,
                success: function (data) {
                    $.each(data, function (index, data) {
                        $("#select_group").append(  //此处向select中循环绑定数据
                            "<option data-icon='fa fa-th-large' value=" + data.group_id + ">" + data.group_name + "</option>");
                    });
                    $('.selectpicker').selectpicker('refresh');
                }
            })
        });

        // 获取被选中项目的的DBA和Leader
        $(function () {
            $("#select_group").change(function () {
                var group_id = $(this).val();
                var csrftoken = $.cookie('csrftoken');
                $.ajax({
                    url: '{% url 'p_get_dba_leader' %}',
                    type: 'POST',
                    dataType: 'json',
                    timeout: 5000,
                    data: {
                        'group_id': group_id,
                        'csrfmiddlewaretoken': csrftoken
                    },
                    cache: false,
                    success: function (data) {
                        $("#select_dba").empty();
                        $("#select_leader").empty();
                        $.each(data, function (index, data) {
                            if (data.user_role == 'DBA') {
                                $("#select_dba").append(  //此处向select中循环绑定数据
                                    "<option data-icon='fa fa-user' data-subtext=" + data.email + " value=" + data.username + ">" + data.username + "</option>");
                            }
                            if (data.user_role == 'Leader') {
                                $("#select_verifier").append(  //此处向select中循环绑定数据
                                    "<option data-icon='fa fa-user' data-subtext=" + data.email + " value=" + data.username + ">" + data.username + "</option>");
                            }
                        });
                        $('.selectpicker').selectpicker('refresh');
                    }
                })
            });
            $("select_group").validator('update');
        });

        <!-- 获取用户选择的项目的联系人 -->
        $(function () {
            $("#select_group").change(function () {
                var group_id = $(this).val();
                var csrftoken = $.cookie('csrftoken');
                $.ajax({
                    url: '{% url 'p_get_contacts' %}',
                    type: 'POST',
                    dataType: 'json',
                    timeout: 5000,
                    data: {
                        'group_id': group_id,
                        'csrfmiddlewaretoken': csrftoken
                    },
                    cache: false,
                    success: function (data) {
                        $("#select_contact").empty();
                        $.each(data, function (index, row) {
                            var html = '';
                            for (var i = 0; i < row.split(",").length; i++) {
                                var result = row.split(",")[i];
                                var username = result.split(":")[0];
                                var contact_id = result.split(":")[1];
                                var email = result.split(":")[2];
                                html += "<option data-icon='fa fa-user' data-subtext=" + email + " value=" + contact_id + ">" + username + "</option>";
                            }
                            $("#select_contact").append(html)
                        });
                        $('.selectpicker').selectpicker('refresh');
                    }
                })
            })
        });

        /**
         * 提交表单内容
         */
        <!-- 有效性验证 -->
        $('#auditCommitForm').validator().on('submit', function (e) {
            if ($('#summernote').summernote('isEmpty')) {
                displayPNotify('400', '审核内容不能为空，请重新填写');
                // 如果审核内容为空，退出该函数
                return false;
            }
            if (e.isDefaultPrevented()) {
                // 验证不通过
                displayPNotify('400', '表单无效，请重新填写');
            } else {
                // 验证通过
                var contents = $('#summernote').summernote('code');
                $('#auditCommitForm').ajaxSubmit({
                    data: {contents: contents},
                    dataType: 'json',
                    success: function (result) {
                        displayPNotify(result.errCode, result.errMsg, refresh_page);
                    }
                });
                return false;
            }
        });


    </script>
{% endblock %}



