{% load i18n %}
<nav aria-label="Page navigation" class="text-center">
    <ul class="pager">
        {% if page_obj.has_previous %}
            <li>
                <a href="?{{ page_obj.previous_page_number.querystring }}" aria-label="Previous">
                    <span aria-hidden="true">&lsaquo;&lsaquo; 上一页</span></a>
            </li>
        {% else %}
            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&lsaquo;&lsaquo; 上一页</span></a>
            </li>
        {% endif %}
        {% for page in page_obj.pages %}
            {% if page %}
                {% ifequal page page_obj.number %}
                    <li><span class="current page text-danger">{{ page }}</span></li>
                {% else %}
                    <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                {% endifequal %}
            {% else %}
                <li>...</li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li><a href="?{{ page_obj.next_page_number.querystring }}" class="next">下一页 &rsaquo;&rsaquo;</a></li>
            <li><a href="#">当前页数: {{ page_obj.number }} of {{ paginator.num_pages }}</a></li>
        {% else %}
            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">下一页 &rsaquo;&rsaquo;</span></a>
            </li>
            <li><a href="#">当前页数: {{ page_obj.number }} of {{ paginator.num_pages }}</a></li>
        {% endif %}
    </ul>
</nav>

