{% extends 'base.html' %}
{% load staticfiles %}

{% block link_css %}
{% endblock %}

{% block right_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <div class="mailbox-read-info">
                        <h3 class="box-title"><i class="fa fa-cog"></i> 主机Processlist</h3>
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-sm-12">
                        <div id="toolbar" class="btn-group">
                            <div class="form-group">
                                <select id="select_env" name="host"
                                        required
                                        class="form-control selectpicker" title="选择主机...">
                                </select>
                            </div>
                        </div>
                    </div>
                    <table id="demo-table"></table>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </div>

{% endblock %}

{% block link_javascripts %}
    <script>
        /**
         * 初始化bootstrap-table，生成表格
         */
        $(function () {
            $('#demo-table').bootstrapTable({
                method: 'get',
                dataType: 'json',
                url: "{% url 'p_user_manager' %}",
                cache: false,
                sidePagination: "client",
                showColumns: true,
                pagination: true,
                search: true,
                striped: true,
                idField: 'id',
                showRefresh: true,
                singleSelect: true,
                minimumCountColumns: 2,
                toolbar: '#toolbar',
                pageNumber: 1,
                pageSize: 100,
                queryParams: function (params) {
                    return {'host': $("#select_env").val()}
                },
                classes: 'table table-hover table-no-bordered',

                columns: [
                    {
                        field: 'ID',
                        title: 'ID'
                    },
                    {
                        field: 'USER',
                        title: 'USER',
                        sortable: true
                    },
                    {
                        field: 'HOST',
                        title: 'HOST',
                        sortable: true,
                    },
                    {
                        field: 'DB',
                        title: 'DB'
                    },
                    {
                        field: 'COMMAND',
                        title: 'COMMAND'
                    },
                    {
                        field: 'TIME',
                        title: 'TIME'
                    },
                    {
                        field: 'STATE',
                        title: 'STATE'
                    },
                    {
                        field: 'INFO',
                        title: "INFO"
                    },
                    {
                        field: 'TIME_MS',
                        title: "TIME_MS"
                    },
                    {
                        field: 'ROWS_SENT',
                        title: "ROWS_SENT"
                    },
                    {
                        field: 'ROWS_EXAMINED',
                        title: "ROWS_EXAMINED"
                    },
                    {
                        field: 'TID',
                        title: "TID"
                    }
                ]
            })
        });

        /**
         * 获取所有主机信息
         */
        $(function () {
            $.ajax({
                url: '{% url 'p_host_config' %}',
                type: 'GET',
                dataType: 'json',
                timeout: 5000,
                cache: false,
                success: function (data) {
                    var html = '';
                    $.each(data, function (index, row) {
                        var host = row.host;
                        var comment = row.comment;
                        html += "<option value=" + host + ">" + comment + "</option>"
                    });
                    $('#select_env').append(html);
                    $('.selectpicker').selectpicker('refresh')
                }
            })
        });

        /**
         * 每1s刷新一次表格
         */

        $(function () {
            function refreshTable() {
                $('#demo-table').bootstrapTable('refresh', {silent: true});
            }

            setInterval(refreshTable, 1000);
        });



    </script>
{% endblock %}