{% extends 'base.html' %}
{% load staticfiles %}

{% block link_css %}
    <style>
        .CodeMirror {
            border: 1px solid #eee;
            height: 450px;
        }
    </style>
{% endblock %}

{% block right_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header box-border">
                    <div class="mailbox-read-info">
                        <h3 class="box-title"><i class="fa fa-cog"></i> SQL查询</h3>
                    </div>
                </div>
                <div class="box-body box-border">
                    <form class="form-inline" id="SqlQueryForm" action="{% url 'p_query' %}"
                          method="post">
                        <div class="form-group">
                            <select id="s_group" name="group_id" required
                                    onchange="get_query_host_info()"
                                    class="selectpicker" title="请选择一个可用的项目...">
                            </select>
                        </div>
                        <div class="form-group">
                            <select id="s_host" name="host" onchange="getTablesList()"
                                    required class="selectpicker" title="请选择主机...">
                            </select>
                        </div>
                        <div class="form-group">
                            <select id="s_database" name="database" required
                                    class="form-control selectpicker" title="选择库名...">
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="button" onclick="beautifySQL()" class="btn bg-info btn-sm">美化SQL
                            </button>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn bg-info btn-sm">执行</button>
                        </div>

                        <div class="form-group pull-right">
                            <select onchange="selectTheme()" id=select class="form-control col-md-1 selectpicker"
                                    title="选择主题...">
                                <option>default</option>
                                <option>material</option>
                                <option>monokai</option>
                                <option>solarized</option>
                                <option>idea</option>
                                <option>seti</option>
                            </select>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
                <div class="row">
                    <div class="box-body box-border">
                        <div class="col-md-9">
                            <textarea id="s_sql"></textarea>
                        </div>
                        <div class="col-md-3">
                            <textarea id="query_log"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box" id="typediv1" style="visibility: hidden">
                <div class="box-body">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs" id="li_append"></ul>
                        <div class="tab-content" id="table_append"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block link_javascripts %}
    <script>
        var myTextarea = document.getElementById('s_sql');
        var myCodeMirror = CodeMirror.fromTextArea(myTextarea, {
            lineNumbers: true,
            mode: "text/x-mysql",
            autoRefresh: true,
            smartIndent: true,
            indentWithTabs: true,
            styleActiveLine: true,
            autofocus: true,
            keyMap: "sublime",
            autoCloseBrackets: true,
            matchBrackets: true,
            lineWrapping: true,
            showCursorWhenSelecting: true,
            extraKeys: {"Tab": "autocomplete"},
            hint: CodeMirror.hint.sql
        });

        var input = document.getElementById("select");

        function selectTheme() {
            var theme = input.options[input.selectedIndex].textContent;
            myCodeMirror.setOption("theme", theme);
            location.hash = "#" + theme;
        }

        var choice = (location.hash && location.hash.slice(1)) ||
            (document.location.search &&
                decodeURIComponent(document.location.search.slice(1)));
        if (choice) {
            input.value = choice;
            myCodeMirror.setOption("theme", choice);
        }
        CodeMirror.on(window, "hashchange", function () {
            var theme = location.hash.slice(1);
            if (theme) {
                input.value = theme;
                selectTheme();
            }
        });

        var myQueryLog = CodeMirror.fromTextArea(document.getElementById('query_log'), {
            mode: "text/x-mysql",
            autoRefresh: true,
            readOnly: true,
            theme: 'material',
            autofocus: false,
            lineWrapping: true,
            placeholder: '执行输出 ...'
        });

        /**
         * 获取线下环境主机信息
         * type=1：线上环境
         * purpose=0：审核目的
         */
        var selected_group = '';

        function get_query_host_info() {
            $('#s_host').empty();
            selected_group = $('#s_group').val();
            $.ajax({
                url: '{% url 'p_host_config' %}',
                type: 'GET',
                data: {'type': 1, 'purpose': 1, 'selected_group': selected_group},
                dataType: 'json',
                timeout: 5000,
                cache: false,
                success: function (data) {
                    var html = '';
                    $.each(data, function (index, row) {
                        var comment = row.comment;
                        html += "<option value=" + comment + ">" + comment + "</option>"
                    });
                    $('#s_host').append(html);
                    $('.selectpicker').selectpicker('refresh')
                }
            })
        }

        /**
         * 获取当前用户所属的项目组
         */
        $(function () {
            $.ajax({
                url: '/projects/group_info/',
                type: 'GET',
                dataType: 'json',
                timeout: 5000,
                cache: true,
                success: function (data) {
                    $.each(data, function (index, data) {
                        $("#s_group").append(  //此处向select中循环绑定数据
                            "<option data-icon='fa fa-th-large' value=" + data.group_id + ">" + data.group_name + "</option>");
                    });
                    $('.selectpicker').selectpicker('refresh');
                }
            })
        });


        /**
         * 执行查询
         */

        $('#SqlQueryForm').on('submit', function (e) {
            $('#li_append').empty();
            $('#table_append').empty();

            // 获取选中的内容，否则为全部内容
            var contents = '';
            if (myCodeMirror.somethingSelected()) {
                contents = myCodeMirror.getSelection()
            } else {
                contents = myCodeMirror.getValue();
            }

            if (contents.length < 1) {
                displayPNotify(2, '内容不能为空');
                return false;
            }
            else {
                $(this).ajaxSubmit({
                    data: {'contents': contents},
                    dataType: 'json',
                    beforeSubmit: showLoadingScreen,
                    success: function (result) {
                        hideLoadingScreen();
                        if (result.status === 0) {
                            var data = result.data;
                            document.getElementById('typediv1').style.visibility = "visible";

                            var li_html = '';
                            var table_html = '';
                            for (var i in data) {
                                li_html += "<li><a href=\"#tab_" + i + "\" data-toggle=\"tab\">" + "结果" + i + "</a></li>";
                                table_html += "<div class=\"tab-pane\" id=\"tab_" + i + "\">\n" +
                                    "<table id=\"table" + i + "\"></table>\n" +
                                    "</div>"
                            }

                            $('#table_append').append(table_html);
                            $('#li_append').append(li_html);
                            $('.nav-tabs>li>a').first().trigger('click');


                            for (var key in data) {
                                var d = data[key];
                                var $table = $("#table" + key);

                                $table.bootstrapTable({
                                    columns: d.columnDefinition,
                                    data: d.data,
                                    search: true,
                                    showColumns: true,
                                    showRefresh: true,
                                    showToggle: true,
                                    pageNumber: 1,
                                    pageSize: 20,
                                    locale: 'zh-CN',
                                    pageList: [20, 30, 50],
                                    sidePagination: "client",
                                    pagination: true,
                                    singleSelect: true,
                                    minimumCountColumns: 2,
                                    matchBrackets: true,
                                    lineWrapping: true,
                                    classes: 'table table-hover'
                                });
                            }
                        }
                        else {
                            document.getElementById('typediv1').style.visibility = "hidden";
                            displayPNotify(result.status, result.msg)
                        }
                    },
                    error: function (jqXHR) {
                        if (jqXHR.status === 403) {
                            displayPNotify(jqXHR.status);
                            hideLoadingScreen();
                        }
                    }
                });
                return false;
            }
        });

        var socket = new WebSocket('ws://' + window.location.host + '/ws/');
        socket.onmessage = function (message) {
            var result = JSON.parse(message.data);
            var msg = result.msg;
            var currentDate = new Date();
            var mytime = currentDate.toLocaleString();


            if (result.type === 1) {
                var query_log_html = '';
                if (msg instanceof Array) {
                    query_log_html = '时间：' + mytime + '\n' + msg.join('\n') + '\n';
                } else {
                    query_log_html = '时间：' + mytime + '\n' + msg + '\n\n'
                }

                myQueryLog.replaceRange(query_log_html, CodeMirror.Pos(myQueryLog.lastLine()));
                myQueryLog.setCursor(myQueryLog.lineCount(), 0);
            }
        }
    </script>
{% endblock %}