<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% load staticfiles %}

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A complete example of Cropper.">
    <meta name="keywords" content="HTML, CSS, JS, JavaScript, jQuery plugin, image cropping, image crop, image move, image zoom, image rotate, image scale, front-end, frontend, web development">
    <title>Cropper</title>
    <link href="{% static 'AdminLTE-2.4.2/bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'AdminLTE-2.4.2/bower_components/cropper/dist/cropper.min.css' %}">
    <link rel="stylesheet" href="{% static 'AdminLTE-2.4.2/bower_components/cropper/examples/crop-avatar/css/main.css' %}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<div class="container" id="crop-avatar">

    <!-- Current avatar -->
    <div class="avatar-view" title="点击更改头像">
        <img src="/media/{{ request.user.avatar_file }}" alt="Avatar">
    </div>


    <!-- Cropping modal -->
    <div class="modal fade" id="avatar-modal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog"
         tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form class="avatar-form" id="xxaa" action="{% url 'p_change_pic' %}" enctype="multipart/form-data"
                      method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h5 class="modal-title" id="avatar-modal-label">支持格式：JPEG|PNG</h5>
                    </div>
                    <div class="modal-body">
                        <div class="avatar-body">

                            <!-- Upload image and data -->
                            <div class="avatar-upload">
                                <input type="hidden" class="avatar-src" name="avatar_src">
                                <input type="hidden" class="avatar-data" name="avatar_data">
                                <label for="avatarInput">本地图片</label>
                                <input type="file" class="avatar-input" id="avatarInput" name="avatar_file">
                            </div>

                            <!-- Crop and preview -->
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="avatar-wrapper"></div>
                                </div>
                                <div class="col-md-3">
                                    <div class="avatar-preview preview-lg"></div>
                                    <div class="avatar-preview preview-md"></div>
                                    <div class="avatar-preview preview-sm"></div>
                                </div>
                            </div>

                            <div class="row avatar-btns">
                                <div class="col-md-3 col-md-offset-9">
                                    <button type="submit" class="btn btn-primary btn-block avatar-save">完成</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div><!-- /.modal -->

    <!-- Loading state -->
    <div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>
</div>

<!-- jQuery -->
<script src="{% static 'AdminLTE-2.4.2/bower_components/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'AdminLTE-2.4.2/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'AdminLTE-2.4.2/bower_components/cropper/dist/cropper.min.js' %}"></script>
<script src="{% static 'AdminLTE-2.4.2/bower_components/cropper/examples/crop-avatar/js/main.js' %}"></script>
</body>

</html>
