{% extends 'base.html' %}
{% load staticfiles %}

{% block link_css %}
    <style>
        .CodeMirror {
            border: 1px solid #eee;
            height: 650px;
            font-size: 13px;
        }

        .breadcrumb {
            padding: 6px;
            margin-bottom: 5px;
            list-style: none;
            background-color: #f5f5f5;
            border-radius: 4px;
        }

        .cm-highlightSearch {
            background: yellow;
        }

        .box {
            margin-bottom: 5px;
        }
    </style>
{% endblock %}

{% block right_content %}
    <ol class="breadcrumb">
        <li><a href="/orders/envi/{{ contents.envi_id }}/"><i class="fa fa-arrow-circle-left"></i>
            审核页面</a></li>
    </ol>
    <div class="row">
        <div id="s_sql_details" style="display:none;">{{ contents.id }}</div>
        <div class="col-md-4" style="padding-right: 2px">
            <!-- Profile Image -->
            <div class="box box-solid">
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle"
                         src="/media/{{ contents.applicant_avatar_file }}"
                         alt="User profile picture">

                    <h3 class="profile-username text-center">{{ contents.applicant }}</h3>

                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>提交人</b> <a class="pull-right">{{ contents.applicant }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>提交时间</b> <a class="pull-right">{{ contents.created_at }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>备注 </b> <a class="pull-right text-red">{{ contents.remark }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>进度</b> <a class="pull-right text-green">{{ contents.progress_value }}</a>
                        </li>
                        {% if contents.progress_value == '待批准' %}
                            <li class="list-group-item">
                                <b>审批</b>
                                <a class="pull-right" href='#'
                                   onclick='link_ordersOp("{{ contents.id }}", "/orders/op/approve/","通过", "不通过")'><i
                                        class='fa fa-check-square-o fa-lg'></i>
                                </a>
                            </li>
                        {% endif %}
                        {% if contents.progress_value == '已完成' %}
                            <li class="list-group-item">
                                <b>复核</b>
                                <a class="pull-right" href='#'
                                   onclick='link_ordersOp("{{ contents.id }}", "/orders/op/review/","已核对", "关闭窗口")'><i
                                        class='fa fa-check-square-o fa-lg'></i>
                                </a>
                            </li>
                        {% endif %}
                        {% if contents.progress_value in '已完成,已勾住,已核对,复核中' %}
                            <li class="list-group-item">
                                <b>查看执行结果</b>
                                <a href="#" onclick="viewSqlDetails()" class="pull-right"><i
                                        class='fa fa-search fa-lg'></i></a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- /.box-body -->
            </div>

            <div class="box box-solid">
                <div class="box-header with-border">
                    <h5 class="box-title">审核进度</h5>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {% for i in contents.auditor %}
                        {% if i.is_superuser == 1 %}
                            {% if i.user %}
                                <p><b>超级审核人：</b> {{ i.user }}</p>
                                {% if i.status == 0 %}
                                    <p><b>状态：</b>未审核</p>
                                {% elif i.status == 1 %}
                                    <p><b>状态：</b>已审核</p>
                                    <p><b>审核时间：</b>{{ i.time }}</p>
                                    <p><b>附加信息：</b>{{ i.msg }}</p>
                                {% endif %}
                                <hr>
                            {% endif %}
                        {% endif %}
                        {% if i.is_superuser == 0 %}
                            <p><b>审核人：</b>{{ i.user }}</p>
                            {% if i.status == 0 %}
                                <p><b>状态：</b>未审核</p>
                            {% elif i.status == 1 %}
                                <p><b>状态：</b>已审核 <br></p>
                                <p><b>审核时间：</b>{{ i.time }}</p>
                                <p><b>附加信息：</b>{{ i.msg }}</p>
                            {% endif %}
                            <hr>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="box box-solid">
                <div class="box-header with-border">
                    <h5 class="box-title">复核进度</h5>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {% for i in contents.reviewer %}
                        {% if i.is_superuser == 1 %}
                            {% if i.user %}
                                <p><b>超级复核人：</b> {{ i.user }}</p>
                                {% if i.status == 0 %}
                                    <p><b>状态：</b>未复核</p>
                                {% elif i.status == 1 %}
                                    <p><b>状态：</b>已核对</p>
                                    <p><b>复核时间：</b>{{ i.time }}</p>
                                    <p><b>附加信息：</b>{{ i.msg }}</p>
                                {% endif %}
                                <hr>
                            {% endif %}
                        {% endif %}
                        {% if i.is_superuser == 0 %}
                            <p><b>复核人：</b>{{ i.user }}</p>
                            {% if i.status == 0 %}
                                <p><b>状态：</b>未复核</p>
                            {% elif i.status == 1 %}
                                <p><b>状态：</b>已复核 <br></p>
                                <p><b>复核时间：</b>{{ i.time }}</p>
                                <p><b>附加信息：</b>{{ i.msg }}</p>
                            {% endif %}
                            <hr>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- /.box -->

            <!-- About Me Box -->
            {% if contents.progress_value == '已关闭' %}
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h5 class="box-title">关闭详情</h5>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p><b>关闭用户：</b> {{ contents.close_info.user }} <br></p>
                        <p><b>关闭时间：</b>{{ contents.close_info.time }}</p>
                        <p><b>关闭原因：</b>{{ contents.close_info.msg|safe }}</p>
                    </div>
                    <!-- /.box-body -->
                </div>
            {% endif %}
        </div>
        <!-- /.col -->
        <div class="col-md-8">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ contents.title }}</h3>
                    <!-- 隐藏id，下面ajax调用 -->
                    <h3 id="id" style="display: none">{{ contents.id }}</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    {% if contents.description %}
                        <div class="mailbox-read-info">
                            <h5>需求：<a href="{{ contents.url }}">{{ contents.description }}</a></h5>
                        </div>
                    {% endif %}

                    <!-- /.mailbox-controls -->
                    <div class="mailbox-read-message">
                        <textarea title="" id="select_sql">{{ contents.contents|safe }}</textarea>
                    </div>
                    <!-- /.mailbox-read-message -->
                </div>

                <!-- /.box-footer -->
                <div class="box-footer">
                    <form class="form-horizontal" id="replyForm" action="/orders/reply/"
                          method="post">
                        <div class="form-group margin-bottom-none">
                            <div class="col-sm-12">
                                <textarea rows="3" style="resize: vertical;max-height: 100px"
                                          class="form-control input-sm" name="reply_contents"
                                          placeholder="请输入回复内容..."></textarea>
                            </div>
                            <div class="col-sm-12" style="margin-top: 10px">
                                <button type="submit" class="btn btn-danger pull-right btn-sm">回复</button>
                            </div>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>

                <div class="box-footer box-comments" id="s_reply">
                </div>
                <!-- /.box-footer -->
            </div>
            <!-- /. box -->
        </div>
        <!-- /.col -->
    </div>

    <!-- 查看sql执行详情模态框 -->
    <div class="modal fade modal-wide" id="modal_table_sql">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title"><i class="fa fa-table"></i> SQL执行详情</h5>
                </div>
                <div class="modal-body">
                    <div>
                        <table id="table_sql"></table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block link_javascripts %}
    <script>
        let keyword = new RegExp('UNIQUE INDEX', 'i');

        CodeMirror.defineMode("highlightSearch", function (config, parserConfig) {
            let searchOverlay = {
                token: function (stream, state) {
                    if (stream.match(keyword)) {
                        return "highlightSearch";
                    }

                    while (stream.next() != null && !stream.match(keyword, false)) {
                    }
                    return null;
                }
            };
            return CodeMirror.overlayMode(CodeMirror.getMode(config, parserConfig.backdrop || "sql"), searchOverlay);
        });
        let myTextarea = document.getElementById('select_sql');
        let myCodeMirror = CodeMirror.fromTextArea(myTextarea, {
            lineNumbers: true,
            mode: "highlightSearch",
            readOnly: true
        });

        <!-- 提交回复内容 -->
        $(function () {
            $('#replyForm').submit(function () {
                let reply_id = $('#id').text();

                $(this).ajaxSubmit({
                    data: {'reply_id': reply_id},
                    clearForm: true,
                    dataType: 'json',
                    success: function (result) {
                        displayPNotify(result.code, result.data);
                        setTimeout("get_order_reply()", 3000)

                    },
                    error: function (jqXHR) {
                        if (jqXHR.status === 400) {
                            let code = jqXHR.responseJSON['code'];
                            let data = jqXHR.responseJSON['data'];
                            displayPNotify(code, data);
                        }
                        if (jqXHR.status === 403) {
                            let data = jqXHR.responseJSON['detail'];
                            displayPNotify(1, data);
                        }
                    }
                });
                return false;
            });
        });

        <!-- 获取回复内容 -->
        function get_order_reply() {
            let reply_id = $('#id').text();
            let csrftoken = $.cookie('csrftoken');
            $.ajax({
                url: "/orders/get_order_reply/",
                type: 'POST',
                dataType: 'json',
                data: {'reply_id': reply_id, 'csrfmiddlewaretoken': csrftoken},
                timeout: 10000,
                cache: false,
                success: function (result) {
                    let html = '';
                    $.each(result.data, function (index, row) {
                        html +=
                            "<div class=\"post\">\n" +
                            "<div class=\"user-block\">\n" +
                            "<img class=\"img-circle img-bordered-sm\" src=\"/media/" + row.avatar_file + "\"\n" +
                            "alt=\"user image\">\n" +
                            "<span class=\"username\">\n" +
                            "<a href=\"#\">" + row.username + "</a>\n" +
                            "</span>\n" +
                            "<span class=\"description\">" + moment(row.created_at).fromNow() + "</span>\n" +
                            "</div>\n" +
                            "<p>\n" + row.reply_contents +
                            "</p>\n" +
                            "</div>"
                    });
                    console.log(html)
                    $("#s_reply").html(html)
                },
                error: function (jqXHR) {
                    if (jqXHR.status === 400) {
                        let code = jqXHR.responseJSON['code'];
                        let data = jqXHR.responseJSON['data'];
                        displayPNotify(code, data);
                    }
                    if (jqXHR.status === 403) {
                        let data = jqXHR.responseJSON['detail'];
                        displayPNotify(1, data);
                    }
                }
            })
        }


        <!-- 获取sql执行的详情 -->
        function viewSqlDetails() {
            let $table_sql = $('#table_sql');
            let id = $('#s_sql_details').text();
            $.ajax({
                url: "{% url 'p_get_sql_exec_details' %}",
                type: 'GET',
                dataType: 'json',
                data: {'id': id},
                timeout: 30000,
                cache: true
            }).done(function (result) {
                $('#modal_table_sql').modal('show');
                $table_sql.bootstrapTable('destroy').bootstrapTable({
                    columns: result.columns,
                    data: result.data,
                    pageNumber: 1,
                    pageSize: 20,
                    locale: 'zh-CN',
                    sidePagination: "client",
                    pagination: true,
                    singleSelect: true,
                    minimumCountColumns: 2,
                    matchBrackets: true,
                    lineWrapping: true,
                    classes: 'table table-hover table-no-bordered'
                });
            });
         }

        <!-- 批准的快捷方式 -->
        function link_ordersOp(id, url, btn_left, btn_right) {
            ordersOp(id, url, btn_left, btn_right);
            refresh_page()
        }

        // 打开页面加载回复的内容
        get_order_reply()
    </script>
{% endblock %}