{% extends 'base.html' %}
{% load staticfiles %}

{% block link_css %}
    <style>
        .CodeMirror {
            border: 1px solid #eee;
            height: 650px;
        }
    </style>
{% endblock %}

{% block right_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header box-border">
                    <div class="mailbox-read-info">
                        <h3 class="box-title"><i class="fa fa-code"></i> 提交DML工单
                        </h3>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <form class="form-horizontal" id="OrdersCommitForm" action="{% url 'p_commit' %}" method="post"
                              data-toggle="validator">
                            <div class="col-md-4" id="left_input_height">
                                <div class="box box-gray">
                                    <div class="box-body no-padding">
                                        <div class="mailbox-read-info">
                                            <h5>填写需求</h5>
                                        </div>
                                    </div>
                                    <div class="box-body box-profile">
                                        <div class="form-group has-feedback">
                                            <label class="control-label col-sm-4">标题 <span
                                                    class="text-black">*</span></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="title" data-minlength="5"
                                                       class="form-control" spellcheck="false"
                                                       placeholder="描述操作的目的" required>
                                            </div>
                                        </div>

                                        <div class="form-group has-feedback">
                                            <label class="control-label col-sm-4">需求描述 <span
                                                    class="text-black">*</span></label>
                                            <div class="col-sm-8">
                                            <textarea name="description" rows="4" style="resize: none"
                                                      data-minlength="5"
                                                      class="form-control" spellcheck="false" required
                                                      placeholder="关联url链接(jira)或输入描述性文字"></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group has-feedback">
                                            <label class="control-label col-sm-4">备注 <span
                                                    class="text-black">*</span></label>
                                            <div class="col-sm-8">
                                                <select id="s_remark" style="width: 100%" name="remark" required
                                                        class="selectpicker form-control">
                                                    <option data-icon="glyphicon-paperclip" selected value="立即执行">立即执行
                                                    </option>
                                                    <option data-icon="glyphicon-paperclip" value="延时执行">延时执行</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group has-feedback">
                                            <label class="control-label col-sm-4">类型 <span
                                                    class="text-black">*</span></label>
                                            <div class="col-sm-8">
                                                <select id="s_sql_type" style="width: 100%" name="sql_type" required
                                                        class="selectpicker form-control">
                                                    <option data-icon="glyphicon-link" selected value="DML">DML
                                                    </option>
                                                    <option data-icon="glyphicon-link" value="DDL">DDL</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group has-feedback">
                                            <label class="control-label col-sm-4">上线版本 </label>
                                            <div class="col-sm-8">
                                                <select id="s_task" name="version" style="width: 100%"
                                                        class="selectpicker form-control" title="上线版本">
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group has-feedback">
                                            <label class="control-label col-sm-4">操作环境 <span
                                                    class="text-black">*</span></label>
                                            <div class="col-sm-8">
                                                <select id="s_envi" name="envi_id" style="width: 100%" required
                                                        class="form-control selectpicker" title="选择环境..."
                                                        onchange="getSchema()">
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group has-feedback">
                                            <label class="control-label col-sm-4">数据库 <span
                                                    class="text-black">*</span></label>
                                            <div class="col-sm-8">
                                                <select id="s_schema" name="schema" style="width: 100%" required
                                                        class="form-control selectpicker" title="选择库名..."
                                                        data-size='8'
                                                        data-live-search="true">
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group has-feedback">
                                            <label class="control-label col-sm-4">审核人 <span
                                                    class="text-black">*</span></label>
                                            <div class="col-sm-8">
                                                <select title="选择工单审核人..." id="s_auditor" name="auditor"
                                                        style="width: 100%" required multiple data-max-options="3"
                                                        data-size='8' class="selectpicker form-control">
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group has-feedback">
                                            <label class="control-label col-sm-4">复核人 <span
                                                    class="text-black">*</span></label>
                                            <div class="col-sm-8">
                                                <select title="选择工单复核人..." id="s_reviewer" name="reviewer"
                                                        style="width: 100%" required multiple data-max-options="3"
                                                        data-actions-box="true" data-live-search="true"
                                                        data-header='请至少选择1个复核人' data-size='8'
                                                        class="selectpicker form-control">
                                                </select>
                                            </div>
                                        </div>

                                        {% ifequal is_enable_mail 0 %}
                                            <div class="form-group has-feedback">
                                                <label class="control-label col-md-4">抄送人 </label>
                                                <div class="col-md-8">
                                                    <select id="s_email_cc" name="email_cc" data-live-search="true"
                                                            title="选择需要抄送的联系人..."
                                                            data-actions-box="true" data-size='8'
                                                            style="width: 100%" class="selectpicker form-control dropup"
                                                            multiple>
                                                    </select>
                                                </div>
                                                <div class="help-block with-errors col-md-2"></div>
                                            </div>
                                        {% endifequal %}

                                        <div class="form-group">
                                            <label class="control-label col-sm-4"></label>
                                            <div class="col-sm-8">
                                                <button type="button" onclick="beautifySQL()"
                                                        class="btn bg-teal btn-sm">格式化SQL
                                                </button>

                                                <button type="button" onclick="incepSyntaxCheckForm()"
                                                        class="btn bg-teal btn-sm">语法检测
                                                </button>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-sm-4"></label>
                                            <div class="col-sm-8">
                                                <button type="submit" class="btn bg-teal btn-sm">提交工单</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="box box-gray">
                                    <div class="box-body no-padding">
                                        <div class="mailbox-read-info">
                                            <h5>填写DML语句(UPDATE/INSERT/DELETE)，每条语句以分号( ; )分割
                                                <small class="text-muted"></small>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="box-body no-padding">
                                        <div class="form-group">
                                            <div class="col-md-12" id="right_code_hight">
                                                <textarea title="" id="s_sql" autofocus class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
            </div>

            <div class="box-size" id="typediv1" style="visibility: hidden">
                <div class="box box-gray">
                    <div class="box-body no-padding">
                        <div class="table-responsive">
                            <table class="table table-striped table-condensed table-bordered">
                                <thead>
                                <tr>
                                    <th class="col-sm-1 text-red">ID</th>
                                    <th class="col-sm-1 text-red">阶段</th>
                                    <th class="col-sm-1 text-red">状态</th>
                                    <th class="col-sm-1 text-red">级别</th>
                                    <th class="col-sm-2 text-red">信息</th>
                                    <th class="col-sm-4 text-red">SQL</th>
                                    <th class="col-sm-1 text-red">扫描/影响行数</th>
                                    <th class="col-sm-1 text-red">耗时</th>
                                </tr>
                                </thead>
                                <tbody id="td_append">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block link_javascripts %}
    <script>
        let myTextarea = document.getElementById('s_sql');
        let myCodeMirror = CodeMirror.fromTextArea(myTextarea, {
            lineNumbers: true,
            mode: "text/x-mysql",
            autoRefresh: true,
            smartIndent: true,
            indentWithTabs: true,
            styleActiveLine: true,
            autofocus: true,
            keyMap: "sublime",
            autoCloseBrackets: true,
            matchBrackets: true,
            showCursorWhenSelecting: true,
            extraKeys: {"Tab": "autocomplete"},
            hint: CodeMirror.hint.sql
        });

        // 获取系统环境
        getSysEnvironment();

        // 获取上线版本
        getOnlineVersion();

        // 获取抄送的用户
        getEmailCc();

        // 获取有审核权限的用户
        getAuditor(permission = 'can_audit');

        // 语法检查
        function incepSyntaxCheckForm() {
            let schema = $('#s_schema').val();
            let sql_type = $('#s_sql_type').val();
            let contents = myCodeMirror.getValue();
            incepSyntaxCheck(schema, sql_type, contents);
        }


        /**
         * 设置左右两边的宽度为一致
         */
        $('#left_input_height').height($('#right_code_hight').height());

    </script>
{% endblock %}
