{% extends 'base.html' %}
{% load staticfiles %}

{% block link_css %}
    <style>
        .log-ul {
            width: auto;
            height: 550px;
            overflow: scroll;
            padding: 8px;
            margin: 8px;
        }

        .execute-log {
            width: auto;
            height: 300px;
            padding: 2px;
            overflow: scroll;
            background-color: white;
        }

        .CodeMirror {
            border: 1px solid #eee;
            height: 450px;
        }

    </style>
{% endblock %}

{% block right_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <div class="mailbox-read-info">
                        <h3 class="box-title"><i class="fa fa-cog"></i> SQL执行任务</h3>
                        <h3 id="taskid" style="display: none">{{ taskid }}</h3>
                    </div>
                </div>
                <div class="box-body">
                    <div id="toolbar">
                        <div class="form-inline" role="form">
                            <button type="button"
                                    class="btn bg-teal" onclick="fullExecute()"><i
                                    class="fa fa-bolt"></i>
                                全部执行
                            </button>
                        </div>
                    </div>
                    <table id="demo-table"></table>
                </div>
            </div>
        </div>
    </div>

    <div class="box-size" id="typediv1" style="visibility: hidden">
        <div class="box">
            <div class="box-header">
                <div class="mailbox-read-info">
                    <h3 class="box-title"><i class="fa fa-hand-o-right"></i> 输出</h3>
                </div>
            </div>

            <div class="box-body no-padding">
                <div class="log-ul" id="output_append">
                </div>
            </div>
        </div>
    </div>

    <!-- 执行结果模态框 -->
    <div class="modal fade modal-wide" id="rollbackupModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><i class="fa fa-hand-o-right"></i> 执行结果</h4>
                </div>
                <div class="modal-body">
                    <div class="box box-info">
                        <div class="box-header">
                            <h5><i class="fa fa-tag"> 回滚SQL</i></h5>
                            <textarea title="" id="rbsql"></textarea>
                        </div>
                        <div class="box-body">
                            <h5><i class="fa fa-info-circle"> 执行日志</i></h5>
                            <hr>
                            <div id="execLog" class="execute-log">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block link_javascripts %}
    <script src="{% static 'js/c_websocket.js' %}"></script>

    <script>
        /**
         * 初始化bootstrap-table，生成表格
         */
        let taskid = $('#taskid').text();
        $(function () {
            let $table = $('#demo-table');
            let csrftoken = $.cookie('csrftoken');
            $table.bootstrapTable({
                method: 'post',
                dataType: 'json',
                url: "/orders/subtasks/detail/",
                contentType: 'application/x-www-form-urlencoded',
                queryParams: function queryParams() {
                    return {
                        taskid: taskid.toString(),
                        csrfmiddlewaretoken: csrftoken
                    };
                },
                cache: true,
                sidePagination: "client",
                pagination: true,
                search: true,
                showRefresh: true,
                singleSelect: true,
                toolbar: '#toolbar',
                pageNumber: 1,
                pageSize: 20,
                pageList: [10, 20, 30],
                uniqueId: "id",
                fixedColumns: true,
                fixedNumber: +1,
                autoRefresh: true,
                autoRefreshInterval: 5,
                autoRefreshSilent: true,
                classes: 'table table-hover table-no-bordered',

                columns: [
                    {
                        field: 'sid',
                        title: '序号',
                        sortable: true
                    },
                    {
                        field: 'applicant',
                        title: '申请人',
                        sortable: true
                    }, {
                        field: 'sql',
                        title: 'sql语句',
                        sortable: true,
                        formatter: function (value) {
                            if (value.length >= 128) {
                                return '<a href="#" data-toggle="tooltip" title=\"' + value + '\">' + value.slice(0, 128) + '&nbsp;...' + '</a>'
                            } else {
                                return '<a href="#" data-toggle="tooltip" title=\"' + value + '\">' + value + '</a>'
                            }
                        }
                    },
                    {
                        field: 'progress',
                        title: '进度',
                        formatter: function (value, row, index) {
                            if (value === '已完成') {
                                return "<p class='text-green'>" + value + "</p>"
                            } else if (value === '处理中') {
                                return "<p class='text-yellow'>" + value + "</p>"
                            } else if (value === '未执行') {
                                return "<p class='text-red'>" + value + "</p>"
                            } else if (value === '失败') {
                                return "<p class='text-red'>" + value + "</p>"
                            } else if (value === '异常') {
                                return "<p class='text-red'>" + value + "</p>"
                            }
                        }
                    },
                    {
                        field: 'execute',
                        title: "执行",
                        formatter: function (value, row) {
                            return '<a href="#" onclick="singleExecute(' + row.id + ')"><i class="fa fa-play"></i></a> ';
                        }
                    },

                    {
                        field: 'pause',
                        title: "暂停(gh-ost)",
                        formatter: function (value, row) {
                            return '<a href="#" onclick="stopExecute(' + row.id + ', \'pause_ghost\')"><i class="fa fa-pause"></i></a> ';
                        }
                    },
                    {
                        field: 'recovery',
                        title: "恢复(gh-ost)",
                        formatter: function (value, row) {
                            return '<a href="#" onclick="stopExecute(' + row.id + ', \'recovery_ghost\')"><i class="fa fa-play"></i></a> ';
                        }
                    },
                    {
                        field: 'stop',
                        title: "终止(gh-ost)",
                        formatter: function (value, row) {
                            return '<a href="#" onclick="stopExecute(' + row.id + ', \'stop_ghost\')"><i class="fa fa-power-off"></i></a> ';
                        }
                    },
                    {
                        field: 'result',
                        title: "结果",
                        formatter: function (value, row) {
                            return '<a href="#" onclick="getPerformTasksResult(' + row.id + ')"><i class="fa fa-list-ol"></i></a> ';
                        }
                    }
                ],
                onLoadSuccess: function (value) {
                    // 权限视图隐藏
                    // DML语句不需要看见其他操作
                    let sql_type = value[0].sql_type;
                    let filter_sql_type = ['DML', 'EXPORT'];
                    if (filter_sql_type.indexOf(sql_type) >= 0) {
                        $table.bootstrapTable('hideColumn', 'pause');
                        $table.bootstrapTable('hideColumn', 'recovery');
                        $table.bootstrapTable('hideColumn', 'stop')
                    }
                },
                onLoadError: function (status, jqXHR) {
                    let code = jqXHR.responseJSON['code'];
                    let data = jqXHR.responseJSON['data'];
                    displayPNotify(code, data);
                }
            })
        });

        let rbsqlTextarea = document.getElementById('rbsql');
        let rbsqlCodeMirror = CodeMirror.fromTextArea(rbsqlTextarea, {
            mode: "text/x-mysql",
            autoRefresh: true,
            readOnly: true,
            lineNumbers: true,
            lineWrapping: true,
            theme: 'material'
        });


        <!-- 获取回滚语句和执行结果日志 -->
        function getPerformTasksResult(id) {
            let csrftoken = $.cookie('csrftoken');
            $.ajax({
                url: "/orders/subtasks/getlog/",
                type: 'POST',
                dataType: 'json',
                data: {'id': id, 'csrfmiddlewaretoken': csrftoken},
                timeout: 60000,
                cache: false,
                success: function (result) {
                    if (result.code === 0) {
                        let log = result.data.log;
                        let rollback_sql = result.data.data;
                        $('#execLog').html(log);
                        rbsqlCodeMirror.setValue(rollback_sql);
                        $('#rollbackupModal').modal('show');
                    }

                    if (result.code === 2) {
                        displayPNotify(result.code, result.data)
                    }
                },
                error: function (jqXHR) {
                    if (jqXHR.status === 400) {
                        let code = jqXHR.responseJSON['code'];
                        let data = jqXHR.responseJSON['data'];
                        displayPNotify(code, data);
                    }
                    // 处理403状态，一般为权限验证的错误
                    if (jqXHR.status === 403) {
                        let data = jqXHR.responseJSON['detail'];
                        displayPNotify(1, data);
                    }
                }
            })
        }

        <!-- 全部执行 -->
        function fullExecute() {
            let csrftoken = $.cookie('csrftoken');

            $.ajax({
                url: "/orders/subtasks/full/",
                type: 'POST',
                dataType: 'json',
                data: {
                    'taskid': taskid,
                    'csrfmiddlewaretoken': csrftoken
                },
                timeout: 10000,
                cache: false,
                success: function (result) {
                    displayPNotify(result.code, result.data);
                },
                error: function (jqXHR) {
                    if (jqXHR.status === 400) {
                        let code = jqXHR.responseJSON['code'];
                        let data = jqXHR.responseJSON['data'];
                        displayPNotify(code, data);
                    }
                    // 处理403状态，一般为权限验证的错误
                    if (jqXHR.status === 403) {
                        let data = jqXHR.responseJSON['detail'];
                        displayPNotify(1, data);
                    }
                }
            })
        }


        <!-- 执行 -->
        function singleExecute(id) {
            let csrftoken = $.cookie('csrftoken');

            $.ajax({
                url: "/orders/subtasks/single/",
                type: 'POST',
                dataType: 'json',
                data: {
                    'id': id,
                    'csrfmiddlewaretoken': csrftoken
                },
                timeout: 10000,
                cache: false,
                success: function (result) {
                    displayPNotify(result.code, result.data);
                },
                error: function (jqXHR) {
                    if (jqXHR.status === 400) {
                        let code = jqXHR.responseJSON['code'];
                        let data = jqXHR.responseJSON['data'];
                        displayPNotify(code, data);
                    }
                    // 处理403状态，一般为权限验证的错误
                    if (jqXHR.status === 403) {
                        let data = jqXHR.responseJSON['detail'];
                        displayPNotify(1, data);
                    }
                }
            })
        }

        <!-- 停止 -->
        function stopExecute(id, action) {
            let csrftoken = $.cookie('csrftoken');

            $.ajax({
                url: "/orders/subtasks/stop/",
                type: 'POST',
                dataType: 'json',
                data: {
                    'id': id,
                    'action': action,
                    'csrfmiddlewaretoken': csrftoken
                },
                timeout: 10000,
                cache: false,
                success: function (result) {
                    displayPNotify(result.code, result.data);
                },
                error: function (jqXHR) {
                    if (jqXHR.status === 400) {
                        let code = jqXHR.responseJSON['code'];
                        let data = jqXHR.responseJSON['data'];
                        displayPNotify(code, data);
                    }
                    // 处理403状态，一般为权限验证的错误
                    if (jqXHR.status === 403) {
                        let data = jqXHR.responseJSON['detail'];
                        displayPNotify(1, data);
                    }
                }
            })
        }

        $('#rollbackupModal').on('shown.bs.modal', function (e) {
            setTimeout(function () {
                rbsqlCodeMirror.refresh()
            }, 1);
        });

        <!-- 创建websocket，获取执行进度 -->
        $(document).ready(function () {
            CreateWebSocket(taskid);
        })
    </script>
{% endblock %}